= provide(:title, (t 'title.main'))
.panel.panel-default
  .panel-heading
    %h3.panel-title= (t 'title.main')
  .panel-body
    .row
      .col-md-3.col-xs-6.col-sm-3.col-lg-3
        %ul.list-group
          %li.list-group-item= link_to (t 'title.time_line_view'), time_line_view_events_path
          %li.list-group-item= link_to (t 'title.event'), events_path
          %li.list-group-item= link_to (t 'title.kintai'), kintais_path
          %li.list-group-item= link_to (t 'title.kanri.keihihead'), keihiheads_path
          %li.list-group-item
            = link_to (t 'title.kairan'), kairans_path
            - if @kairanCount > 0
              %span.badge #{@kairanCount}
      .col-md-3.col-xs-6.col-sm-3.col-lg-3
        %ul.list-group
          %li.list-group-item
            = link_to (t 'title.dengon_menu'), dengons_path
            - if @dengonCount > 0
              %span.badge #{@dengonCount}
          %li.list-group-item= link_to (t 'title.setsubiyoyaku'), setsubiyoyakus_path
          %li.list-group-item= link_to (t 'title.keihishonin'), shonin_search_keihiheads_path
          %li.list-group-item= link_to (t 'title.rorumenba'), rorumenbas_path

.panel.panel-default
  .panel-heading
    %h3.panel-title= (t 'title.masterkanri')
  .panel-body
    .row
      .col-md-3.col-xs-6.col-sm-3.col-lg-3
        %ul.list-group
          %li.list-group-item= link_to (t 'title.user.tantousha'), users_path
          %li.list-group-item= link_to (t 'title.kouteimaster'), kouteimasters_path
          %li.list-group-item= link_to (t 'title.shainmaster'), shainmasters_path
          %li.list-group-item= link_to (t 'title.shozokumaster'), shozokumasters_path
          %li.list-group-item= link_to (t 'title.kaishamaster'), kaishamasters_path
          %li.list-group-item= link_to (t 'title.mybashomaster'), mybashomasters_path
          %li.list-group-item= link_to (t 'title.path'), paths_path
      .col-md-3.col-xs-6.col-sm-3.col-lg-3
        %ul.list-group
          %li.list-group-item= link_to (t 'title.bashomaster'), bashomasters_path
          %li.list-group-item= link_to (t 'title.jobmaster'), jobmasters_path
          %li.list-group-item= link_to (t 'title.shozai'), shozais_path
          %li.list-group-item= link_to (t 'title.yakushokumaster_table'), yakushokumasters_path
          %li.list-group-item= link_to (t 'title.jpt_hokiday_mst'), jpt_holiday_msts_path
          %li.list-group-item= link_to (t 'title.kikanmaster'), kikanmsts_path
          %li.list-group-item= link_to (t 'title.yuukyuu_kyuuka'), yuukyuu_kyuuka_rirekis_path
      .col-md-3.col-xs-6.col-sm-3.col-lg-3
        %ul.list-group
          %li.list-group-item= link_to (t 'title.ekimaster'), ekis_path
          %li.list-group-item= link_to (t 'title.shoninshamst'), shoninshamsts_path
          %li.list-group-item= link_to (t 'title.bunruimaster'), bunruis_path
          %li.list-group-item= link_to (t 'title.joutaimaster'), joutaimasters_path
          %li.list-group-item= link_to (t 'title.yuusen'), yuusens_path
          %li.list-group-item= link_to (t 'title.bashokubunmaster'), bashokubunmsts_path
          %li.list-group-item= link_to (t 'title.myjobmaster'), myjobmasters_path
      .col-md-3.col-xs-6.col-sm-3.col-lg-3
        %ul.list-group
          %li.list-group-item= link_to (t 'title.dengonkaitou'), dengonkaitous_path
          %li.list-group-item= link_to (t 'title.dengonyouken'), dengonyoukens_path
          %li.list-group-item= link_to (t 'title.tsushinseigyou'), tsushinseigyous_path
          %li.list-group-item= link_to (t 'title.kairanyoukenmst'), kairanyokenmsts_path
          %li.list-group-item= link_to (t 'title.setsubi'), setsubis_path
          %li.list-group-item= link_to (t 'title.rorumaster'), rorumasters_path
          %li.list-group-item= link_to (t 'title.setting'), settings_path
