= provide(:title, (t 'title.search'))
= javascript_include_tag 'searchs'
%ol.breadcrumb
  %li= link_to (t 'title.menu'), main_path


- if @masters.count > 0
  .panel.panel-default
    .panel-heading
      %h3.panel-title= (t 'title.search')
    .panel-body
      .row
        - numColumn = 1
        - numColumn = @masters.count / 4 if @masters.count >= 4
        - num = @masters.count
        - numIndex = 0
        - @masters.each do |path|
          - text = path.title_en
          - if I18n.locale.to_s == 'ja' || text = ''
            - text = path.title_jp
          - if numIndex % numColumn == 0
            .col-md-3.col-xs-6.col-sm-3.col-lg-3
              %ul.list-group
                %li.list-group-item= link_to text , path.path_url
          - else
            %li.list-group-item= link_to text, path.path_url

- if @paths.count > 0 && @search != ''
  .panel.panel-default
    .panel-heading
      %h3.panel-title= (t 'title.search')
    .panel-body
      .row
        - numColumn = 1
        - numColumn = @paths.count / 4 if @paths.count >= 4
        - num = @paths.count
        - numIndex = 0
        - @paths.each do |path|
          - text = path.title_en
          - if I18n.locale.to_s == 'ja' || text = ''
            - text = path.title_jp
          - if numIndex % numColumn == 0

            - if path.model_name_field != 'Kintai'
              .col-md-3.col-xs-6.col-sm-3.col-lg-3
                %ul.list-group
                  %li.list-group-item= link_to text , path.path_url+"&search="+@search
            - else
              - @kintai = Kintai.all.where(id: (PgSearch::Document.where('content LIKE ?','%'+@search+'%').where(searchable_type: "Kintai")).map(&:searchable_id)).where(社員番号: session[:user])
              - if !@kintai.first.nil?
                .col-md-3.col-xs-6.col-sm-3.col-lg-3
                  %ul.list-group
                    %li.list-group-item= link_to text , path.path_url+"&search="+ @kintai.first.try(:日付).to_s
          - else
            - if path.model_name_field != 'Kintai'
              %li.list-group-item= link_to text, path.path_url+"&search="+@search
            - else
              - @kintai = Kintai.all.where(id: (PgSearch::Document.where('content LIKE ?','%'+@search+'%').where(searchable_type: "Kintai")).map(&:searchable_id)).where(社員番号: session[:user])
              - if !@kintai.first.nil?
                %li.list-group-item= link_to text , path.path_url+"&search="+ @kintai.first.try(:日付).to_s

/ .panel.panel-default
/   .panel-heading
/     %h3.panel-title= (t 'title.search')
/   .panel-body
/     .row
/       - numColumn = 1
/       - numColumn = @paths.count / 4 if @paths.count >= 4
/       - num = @paths.count
/       - numIndex = 0
/       - @paths.each do |path|
/         - text = path.title_en
/         - if I18n.locale.to_s == 'ja' || text = ''
/           - text = path.title_jp
/         - if numIndex % numColumn == 0
/           .col-md-3.col-xs-6.col-sm-3.col-lg-3
/             %ul.list-group
/               %li.list-group-item= link_to text , path.path_url
/         - else
/           %li.list-group-item= link_to text, path.path_url

