= javascript_include_tag 'yuusens'
%ol.breadcrumb
  %li= link_to 'メニュー', main_path
  %li= link_to (t 'title.yuusen'), yuusens_path
  %li.active 編集

= render 'form', mode: :edit
= provide(:title, (t 'title.yuusen'))