= javascript_include_tag 'yuusens'
%ol.breadcrumb
  %li= link_to 'メニュー', main_path
  %li= link_to '優先', yuusens_path
  %li.active 新規

= provide(:title, (t 'title.yuusen'))
= render 'form', mode: :new

