%p#notice= notice

%p
  %b First name:
  = @yuusen.first_name
%p
  %b Last name:
  = @yuusen.last_name

= link_to (t 'title.edit'), edit_yuusen_path(@yuusen)
\|
= link_to (t 'title.modoru'), yuusens_path
= provide(:title, (t 'title.yuusen'))