= simple_form_for(@path) do |f|
  .col-sm-2.col-sm-offset-2
    = f.input :title_jp
    = f.input :title_en
    = f.input :model_name_field
    = f.input :path_url
    = f.button :submit, class: 'btn btn-primary'
