= javascript_include_tag 'paths'
= provide(:title, (t 'title.path'))
%ol.breadcrumb
  %li= link_to (t 'title.menu'), main_path
  %li.active Path


%table.path-table.table.table-striped.table-bordered.table-hover{cellspacing: '0', width: '100%'}
  %thead
    %tr
      %th Title Japanese
      %th Title English
      %th Model Name
      %th Path
      %th
      %th

  %tbody
    - @paths.each do |path|
      %tr
        %td= path.title_jp
        %td= path.title_en
        %td= path.model_name_field
        %td= path.path_url
        %td= link_to '編集', edit_path_path(path)
        - msg = t 'app.delete_confirm'
        %td= link_to '削除', path, :method => :delete, :data => { :confirm => msg }

= link_to '新規', new_path_path

=render 'share/import_export_buttons',import_path: import_paths_path
