<div class="col-md-4 col-xs-8 col-sm-15 col-lg-4 col-md-offset-4 col-xs-offset-2 col-sm-offset-2 col-lg-offset-4">
  <h3><%= t 'app.login.let_input_mail' %></h3>
</div>
<div class="col-md-4 col-xs-8 col-sm-15 col-lg-4 col-md-offset-4 col-xs-offset-2 col-sm-offset-2 col-lg-offset-4">
<div class="well">
<%provide(:title, (t 'title.kakuninmeru'))%>
<%= form_for :session, url: confirm_path, html:{class: 'form-horizontal'} do |f| %>
  <div class="form-group">
    <div class="field">
      <%= f.label :担当者コード, class: 'col-md-4 col-xs-8 col-sm-4 col-lg-4 control-label' %>
      <div class="col-md-8 col-xs-16 col-sm-8 col-lg-8">
        <%= f.text_field :担当者コード, class: 'form-control', placeholder: 'ID', autocomplete: 'off' %>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="field">
      <%= f.label :email, (t 'title.mail'), class: 'col-md-4 col-xs-8 col-sm-4 col-lg-4 control-label' %>
      <div class="col-md-8 col-xs-16 col-sm-8 col-lg-8">
        <%= f.text_field :email, class: 'form-control', placeholder: 'メール', autocomplete: 'off' %>
      </div>
    </div>
  </div>


  <div class="form-group">
    <div class="col-md-8 col-xs-8 col-sm-8 col-lg-8 col-md-offset-4 col-xs-offset-2 col-sm-offset-4 col-lg-offset-4">
      <%= f.submit (t 'helpers.submit.send_mail'), class: 'btn btn-primary' %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-8 col-xs-8 col-sm-8 col-lg-8 col-md-offset-4 col-xs-offset-2 col-sm-offset-4 col-lg-offset-4">
      <%= link_to 'ログイン', login_path%>
    </div>
  </div>


<% end %>

 <script>//lock enter keypress at login
$("form").bind("keypress", function (e) {
    if (e.keyCode == 13) {
        return false;
    }
});

</script>

  </div>
</div>
