.modal#job-new-modal{tabindex:-1, role: :dialog, 'aria-labelledby'=>"myModalLabel", 'aria-hidden'=>"true"}
  .modal-dialog.modal-lg
    .modal-content{style: 'height: 600px'}
      .modal-header
        %button.close{type: :button, 'data-dismiss'=>"modal", 'aria-hidden'=>"true"} &times;
        %h4.modal-title#myModalLabel= (t 'title.jobshinki')
      .modal-body
        .editor-datetime
          = simple_form_for @jobmaster, url: create_job_events_path, remote: true, html: {role: :form, 'data-model' => 'jobmaster'} do |f|
            .col-md-4.col-xs-4.col-sm-4.col-lg-4.col-md-offset-1.col-xs-offset-1.col-sm-offset-1.col-lg-offset-1
              = f.input :job番号 do
                = f.input_field :job番号, class: 'form-control', style: 'width:200px'
                .span.help-block
              = f.input :job名 do
                = f.input_field :job名, class: 'form-control', style: 'width:200px'
                .span.help-block
              = f.input :開始日, as: :date_picker, class: 'form-control' do
                = f.input_field :開始日, as: :date_picker, style: 'width:200px'
                .span.help-block
              = f.input :終了日, as: :date_picker, class: 'form-control' do
                = f.input_field :終了日, as: :date_picker, style: 'width:200px'
                .span.help-block
              = f.input :ユーザ番号 do
                = f.input_field :ユーザ番号, as: :search_field, style: 'width:200px'
                .span.help-block
            .col-md-4.col-xs-4.col-sm-4.col-lg-4
              = f.input :ユーザ名 do
                = f.input_field :ユーザ名,class: 'form-control', style: 'width:200px'
                .span.help-block
              = f.input :入力社員番号, hint:'', hint_html: {class: 'hint-shain-refer'} do
                = f.input_field :入力社員番号, as: :search_field, style: 'width:200px'
              = f.input :分類, label: false do
                = f.association :bunrui, label_method: :分類名, value_method: :分類コード, label:'分類', input_html:{style: 'width:200px'}
                .span.help-block
              = f.input :関連Job番号, hint:'', hint_html: {class: 'hint-job-refer'} do
                = f.input_field :関連Job番号, as: :search_field, style: 'width:200px'
              = f.input :備考, as: :text do
                = f.input_field :備考, class: 'form-control',style: 'width:200px'
                .span.help-block
              = f.button :submit, class: 'btn btn-primary'


