<span id="message_confirm_select" hidden="true"><%=t "app.select_confirm"%></span>
<span id="message_confirm_delete" hidden="true"><%=t "app.delete_confirm"%></span>
<button id="new_<%=object%>" class="btn btn-primary"><%=t "title.new"%></button>
<button id="edit_<%=object%>" class="btn btn-primary"><%=t "title.edit"%></button>
<button id="destroy_<%=object%>" class="btn btn-primary"><%=t "title.delete"%></button><br>