.modal#kikan-edit-modal{tabindex:-1, role: :dialog, 'aria-labelledby'=>"myModalLabel", 'aria-hidden'=>"true"}
  .modal-dialog.modal-sm
    .modal-content
      .modal-header
        %button.close{type: :button, 'data-dismiss'=>"modal", 'aria-hidden'=>"true"} &times;
        %h4.modal-title#myModalLabel 機関編集
      .modal-body
        = simple_form_for @kikanmst, url: update_modal_kikanmsts_path, :remote => true, html: {role: :form, 'data-model' => 'kikanmst'} do |f|
          = f.input :機関コード, as: :hidden do
            = f.input_field :機関コード, class: 'form-control'
            .span.help-block
          = f.input :機関名 do
            = f.input_field :機関名, class: 'form-control'
            .span.help-block
          = f.input :備考 do
            = f.input_field :備考, class: 'form-control'
            .span.help-block
          = f.button :submit, class: 'btn btn-primary'