= javascript_include_tag 'kikanmsts/index'
= provide(:title, (t 'title.kikanmst'))
%ol.breadcrumb
  %li= link_to (t 'title.menu'), main_path
  %li.active 機関

%table#kikanmaster.table.table-striped.table-bordered.table-hover{cellspacing:0, width: '100%'}
  %thead
    %tr
      %th 機関コード
      %th 機関名
      %th 備考
  %tbody
    - @kikanmsts.each do |kikanmst|
      %tr
        %td= kikanmst.機関コード
        %td= kikanmst.機関名
        %td= kikanmst.備考
- if can? :update, @kikanmsts
  =render 'share/import_csv_modal',import_path: import_kikanmsts_path
= render 'new'
= render 'edit'
