<%= javascript_include_tag 'joutais' %>
<%provide(:title, (t 'title.joutaimaster'))%>
<ol class="breadcrumb">
  <li><%= link_to 'メニュー', main_path %></li>
  <!-- <li><a href="#">基準情報</a></li> -->
  <!-- <li><a href="#">セキュリティ管理</a></li> -->
  <li class="active">状態マスタ</li>
</ol>

<table id="joutaimaster" class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">

  <thead>
  <tr>
    <th>状態コード</th>
    <th>状態名</th>
    <th>状態区分</th>
    <th>勤怠状態名</th>
    <th>マーク</th>
    <th>背景色</th>
    <th>文字色</th>
    <th>WEB使用区分</th>
    <th>勤怠使用区分</th>
  
  </tr>
  </thead>

  <tbody>
  <% @joutaimasters.each do |joutai| %>
      <tr id="joutaimaster_<%= joutai.id %>">
        <td><%= joutai.状態コード %></td>
        <td><%= joutai.状態名 %></td>
        <td><%= joutai.状態区分 %></td>
        <td><%= joutai.勤怠状態名 %></td>
        <td><%= joutai.マーク %></td>
        <td style = "background-color: <%= joutai.try(:色).to_s %>"><%= joutai.色 %></td>
        <td style = "background-color: <%= joutai.try(:色).to_s%> ;color: <%= joutai.try(:text_color).to_s %>"><%= joutai.text_color %></td>
        <td><%= joutai.WEB使用区分 %></td>
        <td><%= joutai.勤怠使用区分 %></td>
       
      </tr>
  <% end %>
  </tbody>
</table>


<%=render 'share/new_edit_destroy_buttons', object: "joutai",new_path: new_joutaimaster_path%>

<% if can? :update, @joutaimasters %>
  <%=render 'share/import_csv_modal',import_path: import_joutaimasters_path%>
<% end %>