.modal#roru-new-modal{tabindex:-1, role: :dialog, 'aria-labelledby'=>"myModalLabel", 'aria-hidden'=>"true"}
  .modal-dialog.modal-sm
    .modal-content
      .modal-header
        %button.close{type: :button, 'data-dismiss'=>"modal", 'aria-hidden'=>"true"} &times;
        %h4.modal-title#myModalLabel New
      .modal-body
        = simple_form_for (Rorumaster.new), url: create_roru_rorumasters_path, :remote => true, html: {role: :form, 'data-model' => 'rorumaster'} do |f|
          = f.input :ロールコード do
            = f.input_field :ロールコード, class: 'form-control'
            .span.help-block
          = f.input "ロール名" do
            = f.input_field :ロール名, class: 'form-control'
            .span.help-block
          = f.input :序列,label: "序列"
          = f.button :submit, class: 'btn btn-primary'