= javascript_include_tag 'rorumasters'
= provide(:title, (t 'title.rorumaster'))
%ol.breadcrumb
  %li= link_to (t 'title.menu'), main_path
  %li.active ロールマスタ


%table.rorumaster-table.table.table-striped.table-bordered.table-hover{cellspacing: '0', width: '100%'}
  %thead
    %tr
      %th ロールコード
      %th ロール名
      %th 序列
      %th
      %th

  %tbody
    - @rorumaster.each do |rorumaster|
      %tr
        %td= rorumaster.ロールコード
        %td= rorumaster.ロール名
        %td= rorumaster.序列
        %td= link_to '編集', edit_rorumaster_path(rorumaster)
        - msg = t 'app.delete_confirm'
        %td= link_to '削除', rorumaster, :method => :delete, :data => { :confirm => msg }

= link_to '新規', new_rorumaster_path

%h4=t 'app.label.import_csv'
= form_tag import_rorumasters_path,class:'form-inline', multipart: true do
  .form-group
    = label_tag 'selectcsv', nil, class: 'sr-only'
    = file_field_tag :file , class: 'btn btn-default'
  .form-group
    = label_tag 'importcsv', nil, class: 'sr-only'
    = submit_tag (t 'title.import_csv_btn') , class: 'btn btn-default'
