%p#notice= notice

%p
  %b ロールコード:
  = @rorumaster.ロールコード
%p
  %b ロール名:
  = @rorumaster.ロール名

%p
  %b 序列:
  = @rorumaster.序列

= link_to '編集', edit_rorumaster_path(@rorumaster)
\|
= link_to '戻る', rorumasters_path
= provide(:title, (t 'title.rorumaster'))
