- user = Shainmaster.find(session[:user])
.row-fuid
  - unless @kintai.try(:入力済) == '1'
    %button#export_pdf.btn.btn-primary{:disabled => "true", :type => "button"}= (t 'app.label.export_pdf')
    = link_to (t 'helpers.submit.entered'), kintai_path(@kintai, status: 'entered'), method: :patch, class: 'btn btn-primary'
  - else
    %button#export_pdf.btn.btn-primary{:type => "button"}= (t 'app.label.export_pdf')
    = link_to (t 'helpers.submit.input'), kintai_path(@kintai, status: 'input'), method: :patch, class: 'btn btn-primary'
  = link_to (t 'helpers.submit.destroy'), kintai_path(@kintai, :clear_month => true), method: :delete, class: 'btn btn-primary', :data => { :confirm => (t 'app.delete_data_in_month_confirm') }
.spacer
  .row

.row
  .col-md-3.col-xs-5.col-sm-8.col-lg-3
    .form-group
      %label.sr-only date
      = form_for :kintai, url: kintais_path, html: {class:'form-inline'}, method: :get do |f|
        .input-group.date-search
          = text_field_tag :search, @selected_month, class:'form-control', size: 6
          %span.input-group-addon
            %span.glyphicon.glyphicon-calendar
        = f.submit :勤怠検索, class: 'btn btn-primary'
  .col-md-2.col-xs-4.col-sm-6.col-lg-2
    %h4 勤務工数表
  .col-md-2.col-xs-4.col-sm-6.col-lg-2
    %h4 氏名：#{user.氏名}
  .col-md-2.col-xs-4.col-sm-6.col-lg-2
    %h4 担当者番号：#{user.社員番号}
  .col-md-3.col-xs-4.col-sm-6.col-lg-3
    %table.table.table-striped.table-bordered.table-hover.table-condensed{cellspacing: "0"}
      %tr
        %th{rowspan: "2"} 有給残
        %th 月初残
        %td{class: "input-number"}= @yuukyuu_kyuuka_rireki.try(:月初有給残) || 0.0
      %tr
        %th{class: "custom-background"} 月末残
        %td{class: "sum-yuukyu custom-background", id: "sumYuukyu"}= @yuukyuu_kyuuka_rireki.try(:月末有給残) || 0.0
