<%= javascript_include_tag 'kintais/index' %>
<%= stylesheet_link_tag 'kintais' %>
<% provide(:title, (t 'title.kintai')) %>

<% 
  entered = @kintai.try(:入力済) == '1'
  today = Date.today.to_date  
%>

<div class="row">
  <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 col-xs-12 col-sm-12 col-lg-12">
    <ol class="breadcrumb">
      <li><%= link_to (t 'title.menu'), main_path %></li>
      <li><%= link_to 'カレンダー', events_path %></li>
      <li class="active">勤怠</li>
      <div class="navbar-nav navbar-right">
        <li class="dropdown" style="margin-right: 20px">
          <a class="dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <span><i class="glyphicon glyphicon-option-horizontal fa-1x" style="color: rgb(76, 76, 76); font-size: 20px"></i></span>
          </a>
          <ul class="dropdown-menu">
            <% if entered %>
              <li id="modal_print_kintai"><%= link_to raw("<i class='fa fa-print' style='margin-right:1em;'></i>"+(t 'app.label.export_pdf')), "#" %></li>
            <% end %>
            <li id="import_kintai"><%= link_to raw("<i class='glyphicon glyphicon-upload' style='margin-right:1em;'></i>"+(t 'app.label.import_data')), "#" %></li>
            <li id="export_kintai"><%= link_to raw("<i class='glyphicon glyphicon-download' style='margin-right:1em;'></i>"+(t 'title.export_csv')), "#" %></li>
          </ul>
        </li>
        <li class="dropdown" style="margin-right: 20px">
          <a class="dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <span><i class="glyphicon glyphicon-question-sign fa-1x" style="color: rgb(76, 76, 76); font-size: 20px"></i></span>
          </a>
          <ul class="dropdown-menu help-question" style="width: 500px">
            <li style="text-align: center; font-size: 20px"><b>勤怠</b></li>
            <li>保守携帯回数: 保守携帯の区分が、"1"のレコード、かつ、曜日が、火曜日のみ。(※火曜日のレコードのみをカウント、他のレコードは、無視）</li>
            <li>出張回数: 状態コード＝12のレコードをカウント　(出張） </li>
            <li>振替休日: 状態コード＝35のレコードをカウント　(振替休日） </li>
            <li>半日振休（前）: 状態コード＝36のレコードをカウント　(半日振休(前）） </li>
            <li>半日振休（後）: 状態コード＝37のレコードをカウント　(半日振休(後））</li>
            <li>休日出勤日数: 状態コード＝14のレコードをカウント　(休日出勤） </li>
            <li>夜間作業: 状態コード＝15のレコードをカウント　(夜間作業）</li>
            <br>
            <li>「振出」は、振替出勤のことで、休日に出勤して、働くことです。状態マスタでは、勤務区分="5"です。</li>
            <li>だから、休日の日しか選択できません。</li>
            <li>振出は、休日に働くことなので、代わりに勤務日（平日）に休むことができます。これを、振休（振替休日です。代休とも言います）　状態マスタでは、勤務区分="6"です。</li>
            <br>
            <li>イベントより、「保守携帯」と「有給休暇」などの休暇に関係する項目をとりこんでます。イベントを読み込み勤怠に反映する。イベントから、フレックス、不在などの項目以外の項目を反映します。</li>
            <li>状態区分＜＞”１”のコードは、時間からは、考慮しません。</li>
            <li>普通保守時間、深夜保守時間は、除外し、手入力をします。</li>
          </ul>
        </li>
      </div>
    </ol>
  </div>
</div>
<%= render 'import_modal' %>
<%= render 'header' %>

<table  id="kintai-table" class="table table-bordered table-hover table-height" cellspacing="0" >
  <thead class="custom-background">
    <tr>
      <th rowspan="2">日付</th>
      <th rowspan="2">曜日</th>
      <th rowspan="2" width="5%">タイプ</th>
      <th rowspan="2" width="7%">出勤時間</th>
      <th rowspan="2" width="7%">退社時間</th>
      <th colspan="6">就 業 時 間</th>
      <th rowspan="2" class="table-width">保守携帯</th>
      <th rowspan="2" width="10%">処理区分</th>
      <th rowspan="2" >備考</th>
      <% unless entered %>
        <th rowspan="2"></th>
      <% end %>
    </tr>
    <tr>
      <th width="7%">実労働時間</th>
      <th width="7%">遅刻早退</th>
      <th width="7%">普通残業</th>
      <th width="7%">深夜残業</th>
      <th width="7%">普通保守</th>
      <th width="7%">深夜保守</th>
    </tr>
  </thead>
  <tbody>
    <%= render @kintais, entered: entered, today: today, joutais: joutais %>
  </tbody>
</table>
<%= render 'share/daikyu_modal' %>
<%= render 'footer' %>
