= simple_form_for(@task) do |f|

  .col-sm-2
    = f.input :title, label: "タイトル" do
      = f.input_field :title, class: 'form-control'
      .span.help-block
    = f.input "内容" do
      = f.input_field :description, class: 'form-control'
      .span.help-block
    = f.button :submit, class: 'btn btn-primary'

