.modal#setsubi-edit-modal{tabindex:-1, role: :dialog, 'aria-labelledby'=>"myModalLabel", 'aria-hidden'=>"true"}
  .modal-dialog.modal-sm
    .modal-content
      .modal-header
        %button.close{type: :button, 'data-dismiss'=>"modal", 'aria-hidden'=>"true"} &times;
        %h4.modal-title#myModalLabel Edit
      .modal-body
        = simple_form_for (Setsubi.new), url: update_setsubi_setsubis_path, :remote => true, html: {role: :form, 'data-model' => 'setsubi'} do |f| 
          = f.hidden_field :設備コード, class: 'form-control'
          = f.input "設備名" do
            = f.input_field :設備名, class: 'form-control'
            .span.help-block
          = f.input :備考,label: "備考"
          = f.button :submit, class: 'btn btn-primary'