<div class="col-md-2 col-xs-2 col-sm-2 col-lg-2 col-md-offset-1 col-xs-offset-1 col-sm-offset-1 col-lg-offset-1">
<%= simple_form_for @user do |f| %>
  <% if  @shainmasters.nil? || @shainmasters.empty? %>
    <%= f.input :担当者コード, disabled: true, hint: '社員はすでに存在します' %>
  <% else %>
    <%= select_tag :担当者コード,
     options_for_select(@shainmasters.collect{ |u| [u.title, u.id] }),
      class: 'form-control' %>
  <% end %>
  <br></br>
  <%= f.input :担当者名称 %>
  <%= f.label :password, "パスワード (4文字以上)" %>
  <%= f.password_field :password, class: 'form-control' %>
  <%= f.label :password_confirmation, "再パスワード (4文字以上)" %>
  <%= f.password_field :password_confirmation, class: 'form-control' %>
  <%= f.label :avatar, "イメージ" %>
  <%= f.file_field :avatar %>
  <%= f.label :email, "メイル" %>
  <%= f.email_field :email , class: 'form-control'%>
  <% if current_user.admin? || current_user.supervisor? %>
    <%= f.input :admin, as: :boolean, hint:'アドミニストレータユーザーでデータを出力できるし、担当者マスタも管理できます。', hint_html: { style: "width: 600px"} %>
  <% end %>
    <% if  @shainmasters.nil? || @shainmasters.empty? %>
      <%= f.button :submit, class: 'btn btn-primary', disabled: true %>
    <% else %>
      <%= f.button :submit, class: 'btn btn-primary' %>
    <% end %>
<% end %>
</div>
