= simple_form_for @user do |f|
  .col-md-2.col-md-offset-1
    = f.label :担当者コード
    %div.user-id #{@user.担当者コード}
    = f.input :担当者名称
    = f.label :password, "パスワード (4文字以上)"
    = f.password_field :password, class: 'form-control'
    = f.label :password_confirmation, "再パスワード (4文字以上)"
    = f.password_field :password_confirmation, class: 'form-control'
    = f.label :avatar, "イメージ"
    %table
      %tr
        %td
          %img{:id => "thumb",:width => "100", :height => "100"}
        %td
          = f.file_field :avatar
    = f.label :email, "メール"
    = f.email_field :email, class: 'form-control'
    - if current_user.admin? || current_user.supervisor?
      = f.input :admin, as: :boolean
    = f.button :submit, class: 'btn btn-primary'
