= javascript_include_tag 'bashomasters/form'
= simple_form_for @bashomaster do |f|
  .col-md-2.col-xs-2.col-sm-2.col-lg-2.col-md-offset-1.col-xs-offset-1.col-sm-offset-1.col-lg-offset-1
    - if mode == :new
      <label>
      ='*'+(t 'title.bashocode')
      </label>
      = f.input :場所コード, label:false
    <label>
    ='*'+(t 'title.bashomei')
    </label>
    = f.input :場所名, label:false
    = f.label (t 'title.bashomeikana')
    = f.input :場所名カナ, label:false
    = f.input :SUB
    = f.association :bashokubunmst, label_method: :場所区分名, value_method: :場所区分コード, label:(t 'title.bashokubun')
    = f.label (t 'title.kaishacode')
    = f.input :会社コード, label: false, wrapper: :vertical_input_group do
      = f.input_field :会社コード, class: 'form-control'
      %span.input-group-addon.refer-kaisha
        %span.glyphicon.glyphicon-search{'aria-hidden'=>"true"}
    - if mode == :new
      = f.button :submit, (t 'title.koshinsuru'), class: 'btn btn-primary'
    - if mode == :edit
      = f.button :submit, (t 'helpers.submit.update'), class: 'btn btn-primary'

= render 'share/kaisha_modal'
