<%= javascript_include_tag 'bashomasters' %>
<%provide(:title, (t 'title.bashomaster'))%>
<ol class="breadcrumb">
  <li><%= link_to (t 'title.menu'), main_path %></li>
  <li class="active"><%=(t 'title.bashomaster')%></li>
</ol>

<table id="bashomaster" class="bashotable table table-striped table-bordered table-hover" cellspacing="0" width="100%">

  <thead>
    <tr>
      <th><%=(t 'title.bashocode')%></th>
      <th><%=(t'title.bashomei')%></th>
      <th><%=(t'title.bashomeikana')%></th>
      <th>SUB</th>
      <th><%=(t'title.bashokubun')%></th>
      <th><%=(t'title.kaishamei')%></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @bashomasters.each do |basho| %>
      <tr id="bashomaster_<%= basho.id %>">
        <td><%= basho.場所コード %></td>
        <td><%= basho.場所名 %></td>
        <td><%= basho.場所名カナ %></td>
        <td><%= basho.SUB %></td>
        <td><%= basho.bashokubunmst.場所区分名 unless basho.bashokubunmst.nil?%></td>
        <td><%= basho.kaishamaster.会社名 unless basho.kaishamaster.nil?%></td>
        <td><%= link_to (t 'title.edit'), edit_bashomaster_path(basho) %></td>
        <td><%= link_to (t 'title.delete'), basho, method: :delete, data: { confirm: (t 'title.delete_confirm') } %></td>

      </tr>
  <% end %>
  </tbody>
</table>
<%=render 'share/new_edit_destroy_buttons', object: "basho",new_path: new_bashomaster_path%>
<% if can? :update, @bashomasters %>
  <%=render 'share/import_csv_modal',import_path: import_bashomasters_path %>
<% end %>
