<%= javascript_include_tag 'basho' %>
<%provide(:title, (t 'title.bashomaster'))%>
<ol class="breadcrumb">
  <li><%= link_to (t 'title.menu'), main_path %></li>
  <li><%= link_to (t 'title.bashomaster'), bashomasters_path %></li>
  <li class="active"><%=(t 'title.new')%></li>
</ol>

<%= render 'form', mode: :new %>
