<p>
  <strong><%=(t 'title.bashocode')%>:</strong>
  <%= @bashomaster.場所コード %>
</p>
<%=%>
<p>
  <strong><%=(t 'title.bashomei')%>:</strong>
  <%= @bashomaster.場所名 %>
</p>
<p>
  <strong><%=(t 'title.bashomeikana')%>:</strong>
  <%= @bashomaster.場所名カナ %>
</p>
<p>
  <strong>SUB:</strong>
  <%= @bashomaster.SUB %>
</p>
<p>
  <strong><%=(t 'title.bashokubun')%>:</strong>
  <%= @bashomaster.場所区分 %>
</p>
<p>
  <strong><%=(t 'title.kaishacode')%>:</strong>
  <%= @bashomaster.会社コード %>
</p>

<%= link_to (t 'title.edit'), edit_bashomaster_path(@bashomaster) %> |
<%= link_to (t 'title.modoru'), bashomasters_path %>
<%provide(:title, (t 'title.bashomaster'))%>
