.modal#shozoku-edit-modal{tabindex:-1, role: :dialog, 'aria-labelledby'=>"myModalLabel", 'aria-hidden'=>"true"}
  .modal-dialog.modal-sm
    .modal-content
      .modal-header
        %button.close{type: :button, 'data-dismiss'=>"modal", 'aria-hidden'=>"true"} &times;
        %h4.modal-title#myModalLabel= (t 'title.edit')
      .modal-body
        = simple_form_for @shozokumaster, url: update_shozoku_shozokumasters_path, :remote => true, html: {role: :form, 'data-model' => 'shozokumaster'} do |f|
          = f.input :所属コード, as: :hidden do
            = f.input_field :所属コード, class: 'form-control'
            .span.help-block
          = f.input :所属名 do
            = f.input_field :所属名, class: 'form-control'
            .span.help-block
          = f.button :submit, class: 'btn btn-primary'