<%= javascript_include_tag 'shozokumasters/index' %>
<%provide(:title, (t 'title.shozokumaster'))%>
<ol class="breadcrumb">
  <li><%= link_to 'メニュー', main_path %></li>
  <li class="active">所属マスタ</li>
</ol>

<table id="shozokumaster" class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>所属コード</th>
      <th>所属名</th>
    </tr>
  </thead>

  <tbody>
    <% @shozokumasters.each do |shozoku| %>
      <tr id="shozokumaster_<%= shozoku.id %>">
        <td><%= shozoku.所属コード %></td>
        <td><%= shozoku.所属名 %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% if current_user.admin? %>
  <%=render 'share/import_csv_modal',import_path: import_shozokumasters_path%>
<% end %>
<%= render 'new' %>
<%= render 'edit' %>