<%= javascript_include_tag 'shozokumasters' %>
<%provide(:title, (t 'title.shozokumaster'))%>
<ol class="breadcrumb">
  <li><%= link_to 'メニュー', main_path %></li>
  <!-- <li><a href="#">基準情報</a></li> -->
  <!-- <li><a href="#">セキュリティ管理</a></li> -->
  <li class="active">所属マスタ</li>
</ol>

<!-- <h1>工程マスタ</h1> -->

<table id="shozokumaster" class="shozokutable table table-striped table-bordered table-hover" cellspacing="0" width="100%">

  <thead>
  <tr>
    <th>所属コード</th>
    <th>所属名</th>
    <!-- <th></th>
    <th></th> -->
  </tr>
  </thead>

  <tbody>
  <% @shozokumasters.each do |shozoku| %>
      <tr id="shozokumaster_<%= shozoku.id %>">
        <td><%= shozoku.所属コード %></td>
        <td><%= shozoku.所属名 %></td>
        <!-- <td><%= link_to '編集', edit_shozokumaster_path(shozoku) if
            current_user.admin? %></td>
        <td><%= link_to '削除', shozoku, method: :delete, data: {confirm:
            '削除で宜しですか。'} if current_user.admin? %></td> -->
      </tr>
  <% end %>
  </tbody>
</table>

<%=render 'share/new_edit_destroy_buttons', object: "shozoku"%>

<% if current_user.admin? %>
  <%=render 'share/import_csv_modal',import_path: import_shozokumasters_path%>
<% end %>


<%= render 'shozoku_edit_modal' %>
<%= render 'shozoku_new_modal' %>