<%= javascript_include_tag 'shozoku' %>
<%provide(:title, (t 'title.shozokumaster'))%>
<ol class="breadcrumb">
  <li><%= link_to 'メニュー', main_path %></li>
  <!-- <li><a href="#">基準情報</a></li> -->
  <!-- <li><a href="#">セキュリティ管理</a></li> -->
  <li class="active">所属マスタ</li>
</ol>

<!-- <h1>工程マスタ</h1> -->

<table id="shozokumaster" class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">

  <thead>
  <tr>
    <th>所属コード</th>
    <th>所属名</th>
    <!-- <th></th>
    <th></th> -->
  </tr>
  </thead>

  <tbody>
  <% @shozokumasters.each do |shozoku| %>
      <tr id="shozokumaster_<%= shozoku.id %>">
      <td><%= shozoku.所属コード %></td>
        <td><%= shozoku.所属名 %></td>
        <!-- <td><%= link_to '編集', edit_shozokumaster_path(shozoku) if
          current_user.admin? %></td>
        <td><%= link_to '削除', shozoku, method: :delete, data: {confirm:
          '削除で宜しですか。'} if current_user.admin? %></td> -->
      </tr>
  <% end %>
  </tbody>
</table>

<% msg_select = t 'app.select_confirm' %>
<% msg_confirm = t 'app.delete_confirm' %>
<span id='message_confirm_select' hidden='true'><%=msg_select%></span>
<span id='message_confirm_delete' hidden='true'><%=msg_confirm%></span>
<button class='btn btn-primary' id='new_shozoku' type= 'button'>新規</button>
<button class='btn btn-primary' id='edit_shozoku' type= 'button'>編集</button>
<button class='btn btn-primary' id='destroy_shozoku' type= 'button'>削除</button>
<!--
<%= link_to '新規', new_shozokumaster_path if current_user.admin? %> -->

<% if current_user.admin? %>
  <h4><%=t 'app.label.import_csv'%></h4>
  <%= form_tag import_shozokumasters_path, class:'form-inline',
    multipart: true do %>
    <div class="form-group">
      <%= label_tag 'selectcsv', nil, class: 'sr-only' %>
      <%= file_field_tag :file , class: 'btn btn-default',
        accept: 'text/csv' %>
    </div>
    <div class="form-group">
      <%= label_tag 'importcsv', nil, class: 'sr-only' %>
      <%= submit_tag (t 'title.import_csv_btn') , class: 'btn btn-default' %>
    </div>
  <% end %>
<% end %>


<%= render 'shozoku_edit_modal' %>
<%= render 'shozoku_new_modal' %>