= provide(:title, (t 'title.bashokubunmst'))
%ol.breadcrumb
  %li= link_to (t 'title.menu'), main_path
  %li= link_to (t 'title.bashokubunmst'), bashokubunmsts_path
  %li.active= (t'title.edit')

= render 'form', mode: :edit