= javascript_include_tag 'bashokubunmsts'
= provide(:title, (t 'title.bashokubunmst'))
%ol.breadcrumb
  %li= link_to (t 'title.menu'), main_path
  %li.active= (t 'title.bashokubunmst')

%table.bashokubunmsttable.table.table-striped.table-bordered.table-hover{cellspacing: 0, width: '100%' }
  %thead
    %tr
      %th= (t 'title.bashokubuncode')
      %th= (t 'title.bashokubunmei')


  %tbody
    - @bashokubunmsts.each do |bashokubunmst|
      %tr
        %td= bashokubunmst.場所区分コード
        %td= bashokubunmst.場所区分名
       

%br
= render 'share/new_edit_destroy_buttons',object: 'bashokubunmst'

- if can? :update, @bashokubunmsts
  %h4=t 'app.label.import_csv'
  = form_tag import_bashokubunmsts_path,class:'form-inline', multipart: true do
    .form-group
      = label_tag 'selectcsv', nil, class: 'sr-only'
      = file_field_tag :file , class: 'btn btn-default'
    .form-group
      = label_tag 'importcsv', nil, class: 'sr-only'
      = submit_tag "Import CSV" , class: 'btn btn-default'
= render 'bashokubun_new_modal'
= render 'bashokubun_edit_modal'