%p
  %b= (t 'title.bashokubuncode')
  = @bashokubunmst.場所区分コード
%p
  %b= (t 'title.bashokubunmei')
  = @bashokubunmst.場所区分名

= link_to (t 'title.edit'), edit_bashokubunmst_path(@bashokubunmst)
\|
= link_to (t 'modoru'), bashokubunmsts_path
= provide(:title, (t 'title.bashokubunmst'))