= simple_form_for @event do |f|
  .col-md-4.col-xs-4.col-sm-4.col-lg-4.col-md-offset-1.col-xs-offset-1.col-sm-offset-1.col-lg-offset-1
    - if !request["shain_id"].nil?
      = f.input :社員番号, label: (t 'title.shainbangou'), input_html: {style: 'width:100px', value: request["shain_id"]}, hint:"#{Shainmaster.find(request["shain_id"]).try :氏名}", hint_html: {class: 'hint-shain-refer'}
    - else
      = f.input :社員番号, label: (t 'title.shainbangou'), input_html: {style: 'width:100px'}, hint:"#{@event.shainmaster.try :氏名}", hint_html: {class: 'hint-shain-refer'}
    / = f.input :社員番号, input_html: {style: 'width:100px'}
    .row
      .col-md-6.col-xs-8.col-sm-7.col-lg-5
        = f.input :状態コード, label: (t 'title.joutai'), input_html: {style: 'width:100px'}, as: :search_field, hint:"#{@event.joutaimaster.try :状態名}", hint_html: {class: 'hint-joutai-refer'}
      .col-md-3.col-xs-3.col-sm-3.col-lg-3.col-md-offset-1.col-xs-offset-1.col-sm-offset-1.col-lg-offset-1
        = f.input (t 'title.kisha') do
          = f.select :有無, options_for_select(["帰社", "直帰", "連続"], :selected => @event.有無), {include_blank: true },{ class: 'form-control', style: 'width:100px'}
    = f.input :場所コード, label: (t 'title.basho'), input_html: {style: 'width:100px'}, as: :search_history, hint:"#{@event.bashomaster.try :場所名}", hint_html: {class: 'hint-basho-refer'}
    = f.input :JOB, input_html: {style: 'width:100px'}, as: :search_history, hint:"#{@event.jobmaster.try :job名}", hint_html: {class: 'hint-job-refer'}
    -#= f.input :工程コード, label: '工程', input_html: {style: 'width:100px'}, as: :search_field, hint:"#{@event.kouteimaster.try :工程名}", hint_html: {class: 'hint-koutei-refer'}
    -#- shozoku = get_shozoku(session[:user]).所属コード
    -#- kouteis = Kouteimaster.where(所属コード: shozoku)
    -#= select(:event, :工程コード, kouteis.collect {|k| [ k.工程名, k.工程コード ] }, { include_blank: true }, {class: 'form-control'})
    = f.input (t 'title.kouteicode') do
      = f.select :工程コード, @kouteis.map { |k| [k.工程名, k.工程コード] }, {include_blank: true}, {class: 'form-control', style: 'width:180px'}
    = f.input :所属コード, label: (t 'title.shozokucode'), input_html:{value: "#{get_shozoku(session[:selected_shain]).所属コード}"}, as: :hidden
  .col-md-4.col-xs-4.col-sm-4.col-lg-4
    = f.input :開始, label: (t 'title.kaishi'), as: :date_time_picker
    = f.input :終了, label: (t 'title.shyuuryou'), as: :date_time_picker
    = f.input :工数, label: (t 'title.koushuu'), input_html: {style: 'width:100px'}, hint: (t 'title.tani')
    -#= text_field_tag :kyukei, '', placeholder: '休憩時間', style: 'width:100px'
    = f.button :button, (t 'title.koushuusaikeisan'), type: :button, id: :koushuu
    = f.input :comment, label: (t 'title.comment')

    - if mode == 'new'
      - if request["param"] == "timeline"|| param == 'timeline'
        = f.button :submit, (t 'helpers.submit.create'), class: 'btn btn-primary', id: 'timeline'
      - else
        = f.button :submit, (t 'helpers.submit.create_other'), class: 'btn btn-primary', id: 'event'

    - if @event.計上 != '済' && mode == 'edit'
      - if request["param"] == "timeline"|| param == 'timeline'
        = f.button :submit, (t 'helpers.submit.create'), class: 'btn btn-primary', id: 'timeline'
      - else
        = f.button :submit, (t 'helpers.submit.create_other'), class: 'btn btn-primary', id: 'event'
      - if request["param"] == "timeline"|| param == 'timeline'
        = f.button :submit, (t 'helpers.submit.destroy'), class: 'btn btn-primary', id: 'timeline',data: {confirm: (t 'app.delete_confirm')}
      - else
        = f.button :submit, (t 'helpers.submit.destroy_other'), class: 'btn btn-primary', id: 'event', data: {confirm: (t 'app.delete_confirm')}
  .col-md-2.col-xs-2.col-sm-2.col-lg-2{id: "selectShozai"}
    - if mode == 'new'
      - param = request["param"].nil?? param: request["param"]
      - param = 'event' if param.nil?
      - shain_id = request["shain_id"].nil?? @event.社員番号: request["shain_id"]
      = link_to (t 'title.shutchou_ikkatsu'), "/events/shutchou_ikkatsu_new?param="+param+"&shain_id="+shain_id, class: 'btn btn-primary'
      .spacer
    = label_tag (t 'app.label.calendar_genzai')
    - if !request["shain_id"].nil?
      = select(:head, :shozaicode, Shozai.all.order(:所在コード).collect {|p| [ p.所在名, p.所在コード ] } , {selected: Shainmaster.find(request["shain_id"]).所在コード, include_blank: true }, class: 'form-control', style: 'width:150px')
    - else
      = select(:head, :shozaicode, Shozai.all.order(:所在コード).collect {|p| [ p.所在名, p.所在コード ] } , {selected: Shainmaster.find(@event.社員番号).所在コード, include_blank: true }, class: 'form-control', style: 'width:150px' )

= render 'share/joutai_modal', add_CUD: true
= render 'share/joutai_edit_modal'
= render 'share/joutai_new_modal'
= render 'share/basho_modal', add_CUD: true
= render 'share/basho_new_modal'
= render 'share/basho_edit_modal'
= render 'share/mybasho_modal'
= render 'share/koutei_modal'
= render 'share/shozai_modal'
= render 'share/job_modal', add_CUD: true
= render 'share/myjob_modal'


= render 'share/job_edit_modal'
= render 'share/job_new_modal'
= render 'share/kaisha_modal', add_CUD: true
= render 'share/shain_modal_refer'
= render 'share/bunrui_modal'
= render 'share/job_select_modal'

= render 'share/kaisha_new_modal'
= render 'share/kaisha_edit_modal'