<ol class="breadcrumb">
  <li><%= link_to (t 'title.menu'), main_path %></li>
  <%if request["param"] == "timeline" || local_assigns[:param] == 'timeline'%>
    <li><%= link_to (t 'title.time_line_view'), time_line_view_events_path %></li>
    <%provide(:title, (t 'title.time_line_view'))%>
  <%else %>
    <li><%= link_to (t 'title.event'), events_path %></li>
    <%provide(:title, (t 'title.event'))%>
  <%end%>
  <li class="active"><%=(t 'title.ibento')%></li>
</ol>

<%= render 'form', mode: 'edit' , param: local_assigns[:param]%>
