<%= javascript_include_tag 'event' %>
<%= javascript_include_tag 'events' %>
<%= javascript_include_tag 'resource/ja' %>
<%= stylesheet_link_tag 'events' %>
<%provide(:title, (t 'title.event'))%>
<div class="row">
  <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 col-xs-12 col-sm-12 col-lg-12">
    <ol class="breadcrumb">
      <li><%= link_to (t 'title.menu'), main_path %></li>
      <li><%= link_to (t 'title.time_line_view'), time_line_view_events_path %></li>
      <li class="active"><%= link_to (t 'title.event'), events_path %></li>
      <div class= 'pull-right'>
        <div class="navbar-right" style="margin-right: 10px">
          <li class="dropdown">
            <a class="dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <span><i class="glyphicon glyphicon-option-horizontal fa-1x" style="color: rgb(76, 76, 76); font-size: 20px"></i></span>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to raw("<i class='glyphicon glyphicon-new-window' style='margin-right:1em;'></i>"+(t 'title.shutchou_ikkatsu')), "/events/shutchou_ikkatsu_new?param=event&shain_id="+session[:user] %></li>
              <li id="modal_print_event"><%= link_to raw("<i class='fa fa-print' style='margin-right:1em;'></i>"+(t 'app.label.export_pdf')), "#" %></li>
              <li id="modal_shousai_event"><%= link_to raw("<i class='glyphicon glyphicon-book' style='margin-right:1em;'></i>"+(t 'app.label.shousai_event')), "#" %></li>
            </ul>
          </li>
        </div>
      </div>
    </ol>
  </div>
</div>
<%= render 'print_modal' %>
<%= render 'share/kintai_new_modal' %>
<%= render 'shousai_modal' %>
<%= simple_form_for @shain, url: custom_events_path, method: :post do |f| %>
<div id="month-view">
  <div>
    <div class="row">

      <!-- <div class="pull-left">

          <%= f.submit (t 'helpers.submit.redirect_to_kintai'), class: 'btn btn-default', id:'kintai'%>
          <%= f.submit (t 'helpers.submit.redirect_to_keihihead'), class: 'btn btn-default', id:'keihi'%>
          <%= f.submit (t 'helpers.submit.redirect_to_shonin'), class: 'btn btn-default', id:'shonin'%>
          <%= f.submit (t 'helpers.submit.redirect_to_dengon'), class: 'btn btn-default', id:'dengon'%>
          <%= f.submit (t 'helpers.submit.redirect_to_kairan'), class: 'btn btn-default', id:'kairan'%>
          <%= f.submit (t 'helpers.submit.redirect_to_setsubiyoyaku'), class: 'btn btn-default', id:'setsubiyoyaku'%>

      </div> -->
      <!--<div class="col-xs-5">-->
        <!--<div class="form-inline update-shozai">-->
          <!--<label>-->
            <!--現所在更新:-->
            <%# select(:shain,:所在コード, Shozai.all.collect {|s|[s.name, s.id]}, {}, {class: 'form-control', onchange: 'this.form.submit();'}) %>
          <!--</label>-->
        <!--</div>-->
      <!--</div>-->
      <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3 pull-left">
        <div class="form-inline pull-left">
          <%= f.input (t 'app.label.calendar_genzai') do %>
              <%= f.select :所在コード, Shozai.all.order(所在コード: :asc).map { |s| [s.name, s.id, { class: '' }] }, {}, {include_blank: true, class: 'form-control'} %>
          <% end %>
        </div>
      </div>
      <div class="col-md-4 col-xs-4 col-sm-4 col-lg-4 col-md-offset-2 col-xs-offset-2 col-sm-offset-2 col-lg-offset-2">
        <div>
          <h3><span class="label label-default">氏名：　<%= Shainmaster.find(session[:selected_shain]).try :氏名 %></span></h3>
        </div>
      </div>
      <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3 pull-right">
        <div class="form-inline pull-right">
          <%# f.input :勤務タイプ, collection: '001'..'009' %>
          <% display = ['001 → 07:00 〜 16:00', '002 → 07:30 〜 16:30', '003 → 08:00 〜 17:00', '004 → 08:30 〜 17:30',
                        '005 → 09:00 〜 18:00', '006 → 09:30 〜 18:30', '007 → 10:00 〜 19:00', '008 → 10:30 〜 19:30', '009 → 11:00 〜 20:00']
          %>
          <%= f.input :勤務タイプ, label: (t 'title.kinmutaipu'), class: "form-control", collection: (1..9).map { |i| ["#{display[i-1]}", "00#{i}"] }%>
        </div>
      </div>

    </div>
  </div>
  <div>
    <div class="row">
      <div class="col-md-2 col-xs-4 col-sm-3 col-lg-2 col-md-offset-5 col-xs-offset-3 col-sm-offset-4 col-lg-offset-5">
        <h4><%= Shainmaster.find(session[:selected_shain]).yakushokumaster.try :役職名 %></h4>
      </div>
      <div class="col-md-1 col-xs-3 col-sm-2 col-lg-1">
        <%# button_to '社員選択', %>
        <button type="button" class="btn btn-primary" id="search_user"><%=(t 'title.shainsentaku')%></button>
      </div>

      <!-- <div class="col-md-4 col-xs-4 col-sm-4 col-lg-4 pull-right">
        <div class="form-inline pull-right">
          <%= f.input (t 'app.label.calendar_genzai') do %>
              <%= f.select :所在コード, Shozai.all.order(所在コード: :asc).map { |s| [s.name, s.id, { class: '' }] }, {}, {include_blank: true, class: 'form-control'} %>
          <% end %>
        </div>
      </div> -->

    </div>
  </div>

  <!-- <div>
    <div class="row">
      <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 col-xs-12 col-sm-12 col-lg-12">
        <div class="form-inline pull-right">
          <%# f.input :勤務タイプ, collection: '001'..'009' %>
          <% display = ['001 → 07:00 〜 16:00', '002 → 07:30 〜 16:30', '003 → 08:00 〜 17:00', '004 → 08:30 〜 17:30',
                        '005 → 09:00 〜 18:00', '006 → 09:30 〜 18:30', '007 → 10:00 〜 19:00', '008 → 10:30 〜 19:30', '009 → 11:00 〜 20:00']
          %>
          <%= f.input :勤務タイプ, label: (t 'title.kinmutaipu'), class: "form-control", collection: (1..9).map { |i| ["#{display[i-1]}", "00#{i}"] }%>
        </div>
      </div>
    </div>
  </div> -->

    <div class="row">
      <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 col-xs-12 col-sm-12 col-lg-12">
        <div class="spacer">
        </div>
      </div>
    </div>



    <div class="row">
      <div class="col-md-2 col-xs-6 col-sm-2 col-lg-2 ">
        <div class="input-group datetime_search">
          <input type='text' class="form-control" id="goto-date-input" name="goto-date-input">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar" id="toggle-calendar-goto" aria-hidden="true"></span>
          </span>
        </div>
      </div>
      <div class="col-md-1 col-xs-1 col-sm-1 col-lg-1">
        <button id="goto-date-button" class="btn btn-default" type="button">Go!</button>
      </div>



    </div>

    <div class="spacer"></div>
    <div class="row">
      <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 col-xs-12 col-sm-12 col-lg-12">
        <div id="calendar-month-view"></div>
        <!--<div id="calendar-timeline"></div>-->
      </div>
    </div>

    <%= render 'share/shain_modal', f:f %>

    <input type="hidden" name="selected_user" id="selected_user"/>
    <input type="hidden" name="selected_user_name" id="selected_user_name"/>
</div>

  <!--   <div class="row">
      <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 col-xs-12 col-sm-12 col-lg-12">
        <div class="spacer">
        </div>
      </div>
    </div>
    <legend></legend> -->

   <!--  <div class="row">
      <div class="col-md-6 col-xs-6 col-sm-6 col-lg-6 ">


      </div>
    </div> -->
<!--<div class="row">-->
  <!--<div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 col-xs-12 col-sm-12 col-lg-12">-->
    <!--<div class="timeline-view">-->
      <!--<div class="pull-left">-->
        <!--<%# f.submit '勤務', class: 'btn btn-default', id:'kintai'%>-->
        <!--<%# f.submit '経費', class: 'btn btn-default', id:'keihi'%>-->
        <!--<%# f.submit '承認', class: 'btn btn-default', id:'shonin'%>-->
        <!--<%# f.submit '伝言', class: 'btn btn-default', id:'dengon'%>-->
        <!--<%# f.submit '回覧', class: 'btn btn-default', id:'kairan'%>-->
      <!--</div>-->
      <!--<br><br>-->
      <!--<div id="calendar-timeline"></div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
  <% end %>
