<%= javascript_include_tag 'event' %>
<%= javascript_include_tag 'events' %>
<%= javascript_include_tag 'job_modal' %>
<%= javascript_include_tag 'kaisha_modal' %>
<%= javascript_include_tag 'basho_modal' %>
<%= javascript_include_tag 'joutai_modal' %>
<ol class="breadcrumb">
  <li><%= link_to (t 'title.menu'), main_path %></li>
  <%if request["param"] == "timeline"|| local_assigns[:param] == 'timeline'%>
    <li><%= link_to (t 'title.time_line_view'), time_line_view_events_path %></li>
    <%provide(:title, (t 'title.time_line_view'))%>
  <%else %>
    <li><%= link_to (t 'title.event'), events_path %></li>
    <%provide(:title, (t 'title.event'))%>
  <%end%>
  <!-- <li><%= link_to 'カレンダー', events_path %></li> -->
  <!-- <li><a href="#">基準情報</a></li> -->
  <!-- <li><a href="#">セキュリティ管理</a></li> -->
  <li class="active"><%=(t 'title.ibento')%></li>
  <div class="navbar-nav navbar-right pullright">
    <li class="dropdown" style="margin-right: 20px">
            <a href="#" class="dropdown-toggle" role=button aria-haspopup="true" aria-expanded="false">
              <span><i class="glyphicon glyphicon-question-sign fa-1x" style="color: rgb(76, 76, 76); font-size: 20px"></i></span>
            </a>
            <ul class="dropdown-menu help-question" style="width: 600px">
              <li style="text-align: center; font-size: 20px"><b>タイムライン</b></li>
              <li>新規追加の時、すでに、画面のようにレコードが、存在する場合、追加の開始時間を12：00に設定される。</li>
              <li>イベントの画面を準備するまえに、レコードの存在確認が必要になります。</li>
              <li>存在レコードが無い場合は、現在と同様に9：00と18：00をセットする。</li>
              <li>画面のようにレコードが、存在する場合は、12：00と18：00とセットになります。</li>
            </ul>
          </li>
  </div>
</ol>

<%= render 'form_event', mode: 'new', param: local_assigns[:param] %>