<%= javascript_include_tag 'time_line_view.js' %>
<%= javascript_include_tag 'events' %>
<%= javascript_include_tag 'resource/ja' %>
<%= stylesheet_link_tag 'events' %>
<%provide(:title, (t 'title.time_line_view'))%>
<div class="row">
  <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 col-xs-12 col-sm-12 col-lg-12">
    <ol class="breadcrumb">
      <li><%= link_to (t 'title.menu'), main_path %></li>
      <li><%= link_to (t 'title.event'), events_path %></li>
      <li class="active"><%=(t 'title.time_line_view')%></li>
    </ol>
  </div>
</div>

<%= simple_form_for :timeline, url: time_line_view_events_path, method: :post do |f| %>

<div class="row">
  <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 col-xs-12 col-sm-12 col-lg-12">
    <div class="timeline-view">
      <div style="height:55px;">
        <!-- <div class="pull-left">
          <%= f.submit (t 'helpers.submit.redirect_to_kintai'), class: 'btn btn-default', id:'kintai'%>
          <%= f.submit (t 'helpers.submit.redirect_to_keihihead'), class: 'btn btn-default', id:'keihi'%>
          <%= f.submit (t 'helpers.submit.redirect_to_shonin'), class: 'btn btn-default', id:'shonin'%>
          <%= f.submit (t 'helpers.submit.redirect_to_dengon'), class: 'btn btn-default', id:'dengon'%>
          <%= f.submit (t 'helpers.submit.redirect_to_kairan'), class: 'btn btn-default', id:'kairan'%>
          <%= f.submit (t 'helpers.submit.redirect_to_setsubiyoyaku'), class: 'btn btn-default', id:'setsubiyoyaku'%>
        </div> -->
        <table class="pull-right">
         <!--  <td>
            <%= f.input :ロールコード, label:'部署' do %>
              <%= f.select :ロールコード, @role.map { |k| [k.ロール名, k.ロールコード]}, {:selected => @roru.try(:ロールコード), include_blank: true},{class: 'form-control'}%>
            <% end %>
          </td>
          <td>
            <%= f.input :状態コード, label:'状態' do %>
              <%= f.select :状態コード, @joutai.map { |k| [k.状態名, k.状態コード]}, {:prompt => "全て"}, {class: 'form-control'}%>
            <% end %>
          </td>
          <td><button class="btn btn-primary" id="kensaku" type="button" style="margin-bottom: 15px;margin-left:15px">検索</button></td>
 -->
          <td>
            <bold style="line-height:40px;margin-right:15px;font-weight:bold;"><%=(t 'title.busho')%></bold>
          </td>
          <td>
            <%= f.select :ロールコード, @role.map { |k| [k.ロール名, k.ロールコード]}, {:selected => @roru.try(:ロールコード), include_blank: true},{class: 'form-control'}%>
          </td>

          <td>
            <bold style="line-height:40px;margin-right:15px;margin-left:15px;font-weight:bold;"><%=(t 'title.joutai')%></bold>
          </td>
          <td>
            <%= f.select :状態コード, @joutai.map { |k| [k.状態名, k.状態コード]}, {:prompt => "全て"}, {class: 'form-control'}%>
          </td>
          <td><button class="btn btn-primary" id="kensaku" type="button" style="margin-bottom: 0px;margin-left:15px"><%=(t 'helpers.button.search')%></button></td>

        </table>
      </div>

      <div id="calendar-timeline"></div>

      <!-- <div id="calendar-timeline"></div> -->


    </div>
  </div>
</div>
<% end %>
