<%= javascript_include_tag 'events/time_line_view' %>
<%= stylesheet_link_tag 'events' %>
<% provide(:title, (t 'title.time_line_view')) %>

<div class="row">
  <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 col-xs-12 col-sm-12 col-lg-12">
    <ol class="breadcrumb">
      <li><%= link_to (t 'title.menu'), main_path %></li>
      <li><%= link_to (t 'title.event'), events_path %></li>
      <li class="active"><%=(t 'title.time_line_view')%></li>
      <div class= 'pull-right'>
        <div class="navbar-nav navbar-right">
            <li class="dropdown" style="margin-right: 20px">
              <a class="dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <span><i class="glyphicon glyphicon-option-horizontal fa-1x" style="color: rgb(76, 76, 76); font-size: 20px"></i></span>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to raw("<i class='glyphicon glyphicon-new-window' style='margin-right:1em;'></i>"+(t 'title.shutchou_ikkatsu')), "/events/shutchou_ikkatsu_new?param=timeline&shain_id="+session[:user] %></li>
                <li id="modal_print_event"><%= link_to raw("<i class='fa fa-print' style='margin-right:1em;'></i>"+(t 'app.label.export_pdf')), "#print_modal", data: { toggle: 'modal' } %></li>
                <li id="modal_shousai_event"><%= link_to raw("<i class='glyphicon glyphicon-book' style='margin-right:1em;'></i>"+(t 'app.label.shousai_event')), "#shousai_modal",  data: { toggle: 'modal' } %></li>
              </ul>
            </li>
            <li class="dropdown" style="margin-right: 20px">
            <a class="dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <span><i class="glyphicon glyphicon-question-sign fa-1x" style="color: rgb(76, 76, 76); font-size: 20px"></i></span>
            </a>
            <ul class="dropdown-menu help-question" style="width: 500px">
              <li style="text-align: center; font-size: 20px"><b>タイムライン</b></li>
              <li>マウスでイベントをドラックすることは、可能ですが、竹中のイベントをドラックして藤井の所へ移動できるのをふせぐことになります。</li>
              <li>竹中のイベントは、竹中のエリアだけ、移動できる。または、変更することができるようにする。</li>

              <li>①画面の上に現在の時刻を表示する。そして、画面の「リフレシュ」用のボタンをせってする。</li>

              <li>②そしてその時刻で、イベントを精査して、画面のイベントを読み取り、状態を更新します。対象のイベントが、無い場合、「不在」になります。</li>
            </ul>
          </li>
        </div>
      </div>
    </ol>
  </div>
</div>
<%= render 'print_modal' %>
<%= render 'shousai_modal' %>

<div class="row">
  <div class="col-md-6 col-xs-8 col-sm-8 col-lg-4 col-md-offset-5 col-xs-offset-6 col-sm-offset-3 col-lg-offset-5">
    <span style="font-size: 30px" id="timeline_time"></span>
    <input type="hidden" id="user_login" value=<%= session[:user] %> />
    <input type="hidden" id="goto_date" value=<%= @selected_date %> />
  </div>
</div>

<%= form_tag time_line_view_events_path, method: :get do %>
  <div class="row">
    <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 col-xs-12 col-sm-12 col-lg-12">
      <table class="pull-left">
        <td>
          <bold style="line-height:40px;margin-right:15px;font-weight:bold;"><%=(t 'title.busho')%></bold>
        </td>
        <td>
          <%= select_tag 'roru', options_for_select(Rorumaster.order(:序列).pluck(:ロール名, :ロールコード), selected: session[:selected_roru]), { include_blank: "全て", class: 'form-control' } %>
        </td>

        <td>
          <bold style="line-height:40px;margin-right:15px;margin-left:15px;font-weight:bold;"><%=(t 'title.joutai')%></bold>
        </td>
        <td>
          <%= select_tag 'joutai', options_for_select(Joutaimaster.order(:状態コード).pluck(:状態名, :状態コード), selected: session[:selected_joutai]), { include_blank: "全て", class: 'form-control' } %>
        </td>
        <td>
          <%= submit_tag t('helpers.button.search'), class: 'btn btn-primary', style: 'margin-bottom: 0px; margin-left:15px' %>
        </td>
      </table>        
    </div>
  </div>
<% end %>

<div id='calendar-timeline' class='spacer'></div>

<%= javascript_tag do %>
  event_data = <%= @data.try(:html_safe)%>;
<% end %>
