= javascript_include_tag 'settings'
= provide(:title, (t 'title.setting'))
%ol.breadcrumb
  %li= link_to 'メニュー', main_path
  %li= link_to 'Setting', settings_path
  %li.active 編集

= render 'form', mode: :edit
