= javascript_include_tag 'settings'
= provide(:title, (t 'title.setting'))
%ol.breadcrumb
  %li= link_to (t 'title.menu'), main_path
  %li= link_to 'Setting', settings_path
  %li.active 新規

= render 'form', mode: :new
