= javascript_include_tag 'settings'
= provide(:title, (t 'title.setting'))
%ol.breadcrumb
  %li= link_to (t 'title.menu'), main_path
  %li.active= (t 'title.setting')

= simple_form_for(@setting) do |f|

  = f.error_notification
  .col-md-3.col-xs-3.col-sm-3.col-lg-3.col-md-offset-2.col-xs-offset-2.col-sm-offset-2.col-lg-offset-2
    .h3
      .span
        .label.label-default=Shainmaster.find(session[:selected_shain]).try :氏名
    .row
      .col-md-12.col-xs-12.col-sm-12.col-lg-12
        .spacer
    = f.association :shainmaster, label_method: :氏名, value_method: :社員番号, label:'社員番号', as: :hidden
    = f.label (t 'title.scrolltime')
    .row
      .col-md-1.col-xs-1.col-sm-1.col-lg-1
      .col-md-10.col-xs-10.col-sm-10.col-lg-10
        = f.input :scrolltime, label: false do
          = f.select :scrolltime, options_for_select(["00:00", "01:00","02:00","03:00","04:00","05:00","06:00"], :selected => @setting.scrolltime), {include_blank: true },{ class: 'form-control', style: 'width:100px'}
    = f.label (t 'title.local')
    .row
      .col-md-1.col-xs-1.col-sm-1.col-lg-1
      .col-md-10.col-xs-10.col-sm-10.col-lg-10
        = f.input :local, label: false do
          = f.select :local, options_for_select(["ja", "en","vi"], :selected => @setting.local), {include_blank: true },{ class: 'form-control', style: 'width:100px'}
    = f.label (t 'app.label.select_vn_holiday')
    .space
    .row
      .col-md-1.col-xs-1.col-sm-1.col-lg-1
      .col-md-10.col-xs-10.col-sm-10.col-lg-10
        %h6=(t 'app.label.select_vn_holiday_descr')
        = f.check_box :select_holiday_vn
    .space
    = f.label (t 'app.label.turning_data')
    .space
    .row
      .col-md-1.col-xs-1.col-sm-1.col-lg-1
      .col-md-10.col-xs-10.col-sm-10.col-lg-10
        %h6=(t 'app.label.turning_data_descr')
        = f.check_box :turning_data
