
%p#notice= notice

%p
  %b 社員番号:
  = @setting.社員番号
%p
  %b ScrollTime:
  = @setting.scrolltime
%p
  %b Local:
  = @setting.local
%p
  %b Vietnamese Holidays:
  = @setting.select_holiday_vn
%p
  %b Turing data:
  =@setting.turning_data

= link_to '編集', edit_setting_path(@setting)
\|
= link_to '戻る', settings_path
= provide(:title, (t 'title.setting'))