<%= javascript_include_tag 'jobs' %>
<%= stylesheet_link_tag 'jobmst' %>
<%provide(:title, (t 'title.jobmaster'))%>
<ol class="breadcrumb">
  <li><%= link_to 'メニュー', main_path %></li>
  <li><%= link_to 'JOBマスタ', jobmasters_path %></li>
  <li class="active">編集</li>
</ol>

<%= render 'form', mode: :edit %>