<%= javascript_include_tag('helps.js') %>
<%= provide(:title, (t 'title.help')) %>
<%= stylesheet_link_tag 'helps' %>
<div class="row">
  <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
    <ol class="breadcrumb">
      <li><%= link_to (t 'title.menu'), main_path %></li>
      <li class="active"><%= link_to (t 'title.help'), events_path %></li>
    </ol>
  </div>
</div>
<div class="row wraper-content">
  <div class="col-md-2 col-xs-4 col-sm-4 col-lg-2 menu-content">
    <%= link_to '1. ログイン画面', '#', class: 'show_pdf_help', data: '#page=1' %><br>
    <%= link_to '2. プロファイル編集', '#', class: 'show_pdf_help', data: '#page=3' %><br>
    <%= link_to '3. タイムライン', '#', class: 'show_pdf_help', data: '#page=4' %><br>
    <%= link_to '4. カレンダー', '#', class: 'show_pdf_help', data: '#page=7' %><br>
    <%= link_to '5. エベント編集画面', '#', class: 'show_pdf_help', data: '#page=14' %><br>
    <%= link_to '6. 出張の一括入力画面', '#', class: 'show_pdf_help', data: '#page=18' %><br>
    <%= link_to '7. 勤怠', '#', class: 'show_pdf_help', data: '#page=23' %><br>
    <%= link_to '8. 経費', '#', class: 'show_pdf_help', data: '#page=28' %><br>
    <%= link_to '9. 経理部', '#', class: 'show_pdf_help', data: '#page=36' %><br>
    <%= link_to '10. 回覧', '#', class: 'show_pdf_help', data: '#page=37' %><br>
    <%= link_to '11. 設備予約', '#', class: 'show_pdf_help', data: '#page=40' %><br>
    <% if current_user.admin? %>
      <h3><%=t 'app.label.import_help'%></h1>
      <%= form_for(:help,url: '/helps') do |f|%>
        <div class="form-group">
          <%= f.file_field :file,class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.submit t('helpers.submit.update'),class: "btn btn-primary" %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="col-md-10 col-xs-12 col-sm-12 col-lg-10">
    <!-- <iframe src="../../assets/images/Tricom.pdf#page=1" height="800px" width="100%" id="view_pdf">
      This browser does not support PDFs. Please download the PDF to view it: <a href=<%= "#{Rails.root}/app/assets/images/Tricom.pdf" %>>Download PDF</a>
    </iframe> -->

    <object style="width: 100%; height: 820px" data="../../assets/images/Tricom.pdf#page=1" type="application/pdf" id="view_pdf"></object>

   <!--  <object style="width: 100%; height: 820px" data="https://docs.google.com/document/d/1Dd5B6v0HUrymshOC-Cp5NvBGUl-SeTsOILHrfrQHNYQ/edit?usp=sharing" id="view_pdf"></object> -->


  </div>



  <!-- <div class="col-md-10 col-xs-12 col-sm-12 col-lg-10">
    <div id="view_pdf" style="width: 100%; height: 600px; overflow: auto;">
      <iframe name="iframemc" id="iframemc" width="100%" height="6000" src="../../assets/images/Tricom.pdf#page=1" scrolling="no" frameborder="0" style="overflow-y:hidden;">
      </iframe>
    </div>
  </div> -->
</div>




