<%= javascript_include_tag('helps.js') %>
<%= provide(:title, (t 'title.help')) %>
<%= stylesheet_link_tag 'helps' %>
<div class="row">
  <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
    <ol class="breadcrumb">
      <li><%= link_to (t 'title.menu'), main_path %></li>
      <li class="active"><%= link_to (t 'title.help'), events_path %></li>
    </ol>
  </div>
</div>
<div class="row wraper-content">
  <div class="col-md-2 col-xs-4 col-sm-4 col-lg-2 menu-content">
    <%= link_to '1. ログイン画面', '#', class: 'show_pdf_help', data: 'Tricom.pdf#page=1' %><br>
    <%= link_to '2. プロファイル編集', '#', class: 'show_pdf_help', data: 'Tricom.pdf#page=3' %>
  </div>
  <div class="col-md-10 col-xs-12 col-sm-12 col-lg-10">
    <iframe src="../../assets/images/Tricom.pdf#page=1" height="800px" width="100%" id="view_pdf">
      This browser does not support PDFs. Please download the PDF to view it: <a href=<%= "#{Rails.root}/app/assets/images/Tricom.pdf" %>>Download PDF</a>
    </iframe>

  </div>
</div>



