<%= javascript_include_tag 'kintaiteeburus' %>
<%provide(:title, (t 'title.kintaiteeburu'))%>
<ol class="breadcrumb">
  <li><%= link_to 'メニュー', main_path %></li>  
  <li class="active"><%=t 'title.kintaiteeburu'%></li>
</ol>

<table id="kintaiteeburu_table" class="kintaiteeburutable table table-striped table-bordered table-hover" cellspacing="0" width="100%">

  <thead>
    <tr>
      <th>id</th>
      <th>勤務タイプ</th>
      <th>出勤時刻</th>
      <th>退社時刻</th>
      <th>昼休憩時間<br>12:00~13:00</th>
      <th>夜休憩時間<br>18:00~19:00</th>
      <th>深夜休憩時間<br>23:00~24:00</th>
      <th>早朝休憩時間<br>4:00~6:00</th>
      <th>実労働時間</th>
      <th>早朝残業時間<br>6:00~9:00</th>
      <th>残業時間<br>19:00~23:00</th>
      <th>深夜残業時間<br>22:00~04:00</th>
    </tr>
  </thead>

  <tbody>
  <% @kintaiteeburus.each do |kintaiteeburu| %>
      <tr id="kintaiteeburu_<%= kintaiteeburu.id %>">
        <td><%= kintaiteeburu.id %></td>
        <td><%= kintaiteeburu.勤務タイプ %></td>
        <td><%= kintaiteeburu.出勤時刻 %></td>
        <td><%= kintaiteeburu.退社時刻 %></td>
        <td><%= kintaiteeburu.昼休憩時間 %></td>
        <td><%= kintaiteeburu.夜休憩時間 %></td>
        <td><%= kintaiteeburu.深夜休憩時間 %></td>
        <td><%= kintaiteeburu.早朝休憩時間 %></td>
        <td><%= kintaiteeburu.実労働時間 %></td>
        <td><%= kintaiteeburu.早朝残業時間 %></td>
        <td><%= kintaiteeburu.残業時間 %></td>
        <td><%= kintaiteeburu.深夜残業時間 %></td>
        <td><%= link_to '編集', edit_kintaiteeburu_path(kintaiteeburu) if
        current_user.admin? || current_user.supervisor? %></td>        
      </tr>
  <% end %>
  </tbody>
</table>
<%=render 'share/new_edit_destroy_buttons',object: 'kintaiteeburu',new_path: new_kintaiteeburu_path%>
<%=render 'share/import_csv_modal',import_path: import_kintaiteeburus_path %>
