.modal#koutei-edit-modal{tabindex:-1, role: :dialog, 'aria-labelledby'=>"myModalLabel", 'aria-hidden'=>"true"}
  .modal-dialog.modal-sm
    .modal-content
      .modal-header
        %button.close{type: :button, 'data-dismiss'=>"modal", 'aria-hidden'=>"true"} &times;
        %h4.modal-title#myModalLabel= (t 'title.edit')
      .modal-body
        = simple_form_for @kouteimaster, url: update_koutei_kouteimasters_path, :remote => true, html: {id: 'edit_kouteimaster', role: :form, 'data-model' => 'kouteimaster'} do |f|
          = f.input :所属コード, as: :hidden do
            = f.input_field :所属コード, class: 'form-control'
            .span.help-block
          = f.input :工程コード, as: :hidden do
            = f.input_field :工程コード, class: 'form-control'
            .span.help-block
          = f.input :工程名 do
            = f.input_field :工程名, class: 'form-control'
            .span.help-block
          = f.button :submit, class: 'btn btn-primary'