<h1>イベント編集画面</h1>
<h3>イベント編集画面です。新規または編集の時詳細情報のイベントです。</h3>
<%=image_tag 'help_pages/page5/image30.png'%>
<h3>
	開始と終了はカレンダーの当日からダップルクリックしたらその日の終日日
	付をデフォルトフィルトアウトされておきます。<br><br>
	同じように、タイムラインの個別選択している日付からでもデフォルトフィ
	ルトアウトします。
</h3>
<%=image_tag 'help_pages/page5/image14.png'%>
<h3>
	日付を編集したい時、日付アイコンでポップ
	アップカレンダーを表示します。
</h3>
<h3>
	新規追加の時、すでに、画面のようにレコードが、存在する場合、追加の開始時間を12：00に設定される。<br>
	イベントの画面を準備するまえに、レコードの存在確認が必要になります。存在レコードが無い場合は、現在と同様に9：00と18：00をセットする。<br>
	画面のようにレコードが、存在する場合は、12：00と18：00とセットになります。
</h3>
<%=image_tag 'help_pages/page5/image29.png'%>
<h3>開始と終了からの再計算、時間単位という工数再計算ボタンです。30分の単位で計算します。</h3>
<%=image_tag 'help_pages/page5/image9.png'%>
<h3>現在は本日の新規イベント時のみ表示されます。</h3>
<%=image_tag 'help_pages/page5/image71.png'%>
<h3>
	状態が11,12,13(外出、出張、出張移動)が選択した場合、帰社欄が表示します。<br>
	イベントの入力画面で、状態コード（30）「全日休」を選択した時、場所、JOB、工程欄がグレーアウトし、入力ができません。<br>
	同じ状態コード（31）午前半休、（32）午後半休、（33）特別休暇なども、グレーアウトします。<br>
	状態区分="2"で判断しているようになります。<br>
	状態コード＝"1" or "5" or 状態コード = 60 && 開始時間 < 9) の時は、場所、JOB、工程の入力が可能します。<br>
	それ以外は、不可にしました。 別に状態コード以外の制御でもかまいません。<br>
	60（フレックス）は、遅出のあつかいになります。10時にフレックスの場合は、9：00～10：00をフレックスにし、10時に出社になります。<br>  
	ですから、フレックスの間は、場所、ＪＯＢ、工程は、空白です。現在の早出のフレックスは、無くなります。早出のフレックスは、イベントを早出時間で、入力してください。<br>
	状態区分="5"は、場所、ＪＯＢ、工程は、休日勤務で、必要です。
</h3>