<h1>設備予約</h1>
<h3>これは設備を予約する画面です。設備は会議室や社用車や携帯電話などです。</h3>
<%=image_tag 'help_pages/page11/image81.png'%>
<%=image_tag 'help_pages/page11/image47.png'%>
<h3>
まず、ここで設備を選びます。それから、検索ボタンをクリックしてから、この設備の時刻表が出ます。
</h3>
<%=image_tag 'help_pages/page11/image45.png'%>
<h3>設備の時刻表です。</h3>
<%=image_tag 'help_pages/page11/image82.png'%>
<h3>設備を登録とき、開始時間・終了時間・会社名の情報が必要です。他に仕事の内容も入力できます。</h3>
<%=image_tag 'help_pages/page11/image36.png'%>
<h3>使用時間はデフォーに「９：００−１８：００」設定です。しかし、このチェックボックスをクリックすると、使用時間は終日になります。
</h3>
<%=image_tag 'help_pages/page11/image54.png'%>
<h3>もし、設備が利用されるのことが終わらないと、新予約できません。</h3>
<%=image_tag 'help_pages/page11/image57.png'%>
<h3> 設備を登録した情報です。</h3>
<%=image_tag 'help_pages/page11/image15.png'%>
<h3>ユーザーは終了時間を変更できます.簡単にこのボタンをドラッグします。</h3>
<%=image_tag 'help_pages/page11/image56.png'%>
<h3> ２つのアイコンは設備を登録するためのボタンです。</h3>
<%=image_tag 'help_pages/page11/image51.png'%>
<h3>
このボタンをクリックすると、設備予約を詳しく表示します。<br>
このようなテーブルです。
</h3>
<%=image_tag 'help_pages/page11/image3.png'%>
<%=image_tag 'help_pages/page11/image38.png'%>
<h3>コピー・インポート・エクスポート・新規・削除の機能ボタンです。</h3>
<%=image_tag 'help_pages/page11/image13.png'%>