<h1>経費</h1>
<%=image_tag 'help_pages/page8/image4.png'%>
<%=image_tag 'help_pages/page8/image43.png'%>
<h3>清算予定日と対象者と承認済区分で経費を検索できます。</h3>
<%=image_tag 'help_pages/page8/image64.png'%>
<h3>
	ディスプレイ10行を選択して、ファイルコピー、CSVとExcelのエクスポート、すべて選択、すべての選択解除、検索などのアクションを使用することができます。
	<%=image_tag 'help_pages/page8/image85.png'%>
</h3>
<%=image_tag 'help_pages/page8/image5.png'%>
<h3>
	すべてのデータを選択するために、下のように選択してください。<br>
	清算予定日：””<br>
	対象者：”全員”<br>
	承認済区分：”全て”<br><br>
	ユーザーログインだけが許可の編集と削除を持っています。他は許可のビューしかありません。
</h3>
<%=image_tag 'help_pages/page8/image8.png'%>
<%=image_tag 'help_pages/page8/image31.png'%>
<h3>
	新規のために、新規のボタンをクリックしてください。<br>
                          
	経費・新規の画面が表示される。
</h3>
<%=image_tag 'help_pages/page8/image46.png'%>
<h3>別に、経費の一覧画面より、対象の出費明細を選択し、対象の出費明細を全件を印刷できます。</h3>
<hr>
<h1>経費・新規</h1>
<%=image_tag 'help_pages/page8/image40.png'%>
<h3>
	1	申請日付を登録<br>
	2 編集の該当行を削除<br>
	3 全部編集行に削除する<br>
	4 新しい行に一番下に入れます<br>
	5 該当行に日付を入力したら、その日から2週間のイベント情報を一旦参照 画面を開きます。<br>
	6 入力された各数字のフィルドに計算します。それぞれ合計値はフッターに入れます。
</h3>
<h3>
	<b>
	旅費交通費合計 = 宿泊費合計 + 日当合計 + 交通費合計<br>
	経費合計 = その他合計 + 旅費交通費合計<br>
	過不足 = 経費合計 -<span style="color:red"> 仮払金 - 支給品</span>
	</b>
</h3>
<h3>
	7 【承認要求】をチェックしたら、【承認者】と【清算予定日】に入力必須となります。<br><br>
	というは清算予定日に承認者へ経費を求めます。<br>
	画面情報最後確認できたら、登録ボタンをクリックし経費を登録します。<br><br>
	エベント参照の検索を開いた時に、現在は、状態区分="1"のレコード検索していただいていましが、追加で、状態コード＝”10”（直行）、"11"（外出）、"12"（出張）に限定していただきます。<br><br>
	本社内で働く時は、経費が発生せず、社外に行くときのみ、経費が発生するのに対応するためです。<br>
	経費入力からイベント参照した時は、外出など社外の場合のみ、表示がしたい。<br>
	経費が発生すろのは、社外のみにしるときにかぎります。<br>
</h3>
<hr>
<h1>経費・照会</h1>
<h3>印刷をクリックすると、新しいタブで印刷ページを開かれます。</h3>
<%=image_tag 'help_pages/page8/image60.png'%>
<%=image_tag 'help_pages/page8/image44.png'%>
<hr>
<h1>経費・編集</h1>
<%=image_tag 'help_pages/page8/image1.png'%>
<h3>
	１．印刷と登録と削除ができる。<br>
	２．行を削除する。<br>
	３．新しい行を作成する。<br>
	４．すべての行を削除する。<br>

	経費入力ｌにおいて、入力履歴を参照し、データの入力をできるようサポートしている。<br>
	①日付を入力する → 日付の下のボタンを押す。→検索ウインドを開く。<br>
	② 検索ウインドに日付から過去3ケ月のデータのを表示。 → 検索ウインドからの選択。<br>
	③ 履歴から「相手先」、「イベント」、「機関名」「発駅」、「着駅」、「交通費」、「日当」、「宿泊」、「その他」、｢備考」を取得する。<br><br>
	経費入力の2行目以降の場合、「行追加」のほかに、「全行複写」の機能を追加し、前の行を複写する機能があります。
</h3>