<h1>勤怠</h1>
<h3>
	怠は、カレンダーと連動していますので、勤務、有給休暇などの基本の業務の入力は、必要あいりません。ただし、保守作業、夜間保守作業は、手入力で対応してください。
</h3>
<%=image_tag 'help_pages/page7/image49.jpg'%>
<%=image_tag 'help_pages/page7/image67.png'%>
<h3>
	検索のために、年/月を選択し、勤怠検索のボタンをクリックしてください。<br><br>                          
	これはメニューオプションです。
</h3>
<%=image_tag 'help_pages/page7/image24.png'%>
<h3>ビューモードでは、印刷できます。印刷をクリックすると、新しいタブで印刷ページを開かれます。</h3>
<%=image_tag 'help_pages/page7/image58.png'%>
<h3>データのエクスポートとインポートができます。</h3>
<%=image_tag 'help_pages/page7/image7.png'%>
<%=image_tag 'help_pages/page7/image34.png'%>
<h3>メニューヘルプは勤怠画面の説明を表示する</h3>
<%=image_tag 'help_pages/page7/image86.png'%>
<h3>
	月初残を入力してください。<br>
	月末残＝月初残の時は、「月初残の更新」ボタンをおして、月末残を月初に移行してください。
</h3>
<%=image_tag 'help_pages/page7/image78.png'%>
<h3>データを入力することができます。</h3>
<%=image_tag 'help_pages/page7/image12.png'%>
<h3>
	入力モードとビューモードを変換のために、入力するボタンと入力済をクリックしてください。<br>
	削除ボタンをクリックすると、月のすべてのデータが削除されます。<br>
	印刷ボタンをクリックすると。新しいタブで印刷ページを開かれる。<br><br>
	「振出」は、振替出勤のことで、休日に出勤して、働くことです。状態マスタでは、勤務区分="5"です。<br>
	だから、休日の日しか選択できません。<br><br>
	振出は、休日に働くことなので、代わりに勤務日（平日）に休むことができます。これを、振休（振替休日です。代休とも言います） 状態マスタでは、勤務区分="6"です。<br>
	勤怠画面でいくつかのフィールドに直接入力することができます。<br><br>
	休みの日の「振替出勤」と休み出ない通常の日の「振替休日」は、セットです。<br>
	本来、休みの日に働くのを「振出」で、休日でない日を休みのを「振休」になります。<br>
	休日に働くほうが、必ず、先にあります
</h3>
<%=image_tag 'help_pages/page7/image26.png'%>
<h3>たとえば、退社時間を入力することができます。</h3>
<%=image_tag 'help_pages/page7/image23.png'%>
<%=image_tag 'help_pages/page7/image22.png'%>
<h3>
	詳細な編集するのために、編集のリンクをクリックしてください。<br><br>
	勤怠をイベントの連動について、8：00～20：00間で勤務しました。勤務区分は、08：00の開始ですから、"003"が選択されます。<br>
	勤怠の入力画面で、午前半休、午後半休のときに「勤務タイプ」の表示をされません。休みのときは、勤務タイプは表示されません。<br><br>
	振替勤務を入力し備考欄に振替勤務のコメントは、印字されて、時刻、実働時間なども、計算し表示されます。<br>
	勤怠の「処理区分」は、イベントの「状態」と連動しているので、状態区分＝"2"のときは、表示しないようにする。<br>
	「休みのイベントが、あれは、勤務タイプを表示しない」になると同様遅刻早退は、遅刻早退のイベントが、なければ、計算する必要はありません。<br>
	自動判断で、遅刻時間を計算する必要はありません。<br>
	勤怠の「処理区分」で、処理区分において、状態マスタの状態区分の添付ファイルの〇がついた項目にする
</h3>
<%=image_tag 'help_pages/page7/image63.png'%>
<h3>月初残のボタンを新設し有給休暇履歴の更新を下記のように行います</h3>
<%=image_tag 'help_pages/page7/image55.png'%>
<h3>ボタンを押したときのみ、前月末残を当月の月初残を更新してください。それ以外は、前月末残による当月月初残の更新は、ありません。	</h3>
<hr>
<h1>勤怠の編集画面</h1>
<%=image_tag 'help_pages/page7/image80.png'%>
<h3>
	イベントより、「保守携帯」と「有給休暇」などの休暇に関係する項目をとりこんでます。イベントを読み込み勤怠に反映する。イベントから、フレックス、不在などの項目以外の項目を反映します。<br>
	状態区分＜＞”１”のコードは、時間からは、考慮しません。<br>
	普通保守時間、深夜保守時間は、除外し、手入力をします。<br>
	工数から、休憩時間をマイナスで 工数＝実働時間になる。（※休憩時間のマイナス）<br>
	工数再計算のボタンを押さないで、登録ボタンを押すときに、同様の処理をおこなわれます。<br>
	※状態マスタの「勤怠使用区分」について、「勤怠使用区分="1"」のデータの非表示になります。
</h3>