<h1>カレンダー</h1>
<h3>
	メニューからカレンダーをクリックすると、このような他の画面も一旦メニューで 移動します。
</h3>
<%=image_tag 'help_pages/page4/image87.png'%>
<%=image_tag 'help_pages/page4/image73.png'%>
<h3>
	該当の日にダブルクリックし新規イベントを行えます。作成したイベント
	をクリックしたらそのイベントを編集できます。
</h3>
<%=image_tag 'help_pages/page4/image69.png'%>
<h3>
	他の社員のイベントを参照したい場合、「社員選択」から、該当社員を選択してください。
</h3>
<%=image_tag 'help_pages/page4/image16.png'%>
<h3>
	社員選択実行後、画面のカレンダーはその社員となります。<br>
	※該当ラインを選択し、ダブルクリックをした場合、「OK」ボタンを押した場合と同等のようになります。<br>
	社員選択の画面の最下部に現在ログインしているユーザーのボタンがあります。他の社員のカレンダーから当ユーザーへ戻る際が使用されます。<br>
	カレンダーの他のビューもサポートされています。月・週・日のビューです。<br>
	または日を指定し、その日のカレンダーへ移ります。
</h3>
<%=image_tag 'help_pages/page4/image76.png'%>
<h3>
	ナショナルホリデーは、インターネットから、自動取得しています。<br>
	ジュピター専用休日は、「ジュピターの休日」に登録します。
</h3>
<%=image_tag 'help_pages/page4/image25.png'%>
<h3>
	｢保守用携帯」の当番の時は、画面の「携帯」マークをクリックしてください。勤怠と連動しているので、勤怠での入力は、必要ありません。
</h3>
<%=image_tag 'help_pages/page4/image52.png'%>
<h3>
	これはカレンダーの詳細一覧です。一覧のイベントの情報で編集リンクを付 加します。<br>
	マスタ管理みたいのボタンをありまして、新規・削除などです。<br>
	それでイベントのCSV、Excelへの出力できています。<br>
	イベントの検索で、曖昧な情報でJobなどを提供して検索できます。<br>
	次にPDFの印刷です。
</h3>
<%=image_tag 'help_pages/page4/image84.png'%>
<h3>現在カレンダーに3つの表を印刷できます。</h3>
<%=image_tag 'help_pages/page4/image42.png'%>
<h3>
	開始・終了を指定し、印刷する<br>
	以下は一つの結果
</h3>
<%=image_tag 'help_pages/page4/image75.png'%>
<%=image_tag 'help_pages/page4/image65.png'%>
<%=image_tag 'help_pages/page4/image33.png'%>
<h3>
	データを取得し集計してから印刷のフォーマットに結果を出力<br><br>
	右メニューから印刷を近道で呼ばれます。一旦印刷の設定画面で設定してから印刷ボタンをPDFに生成します。
</h3>
<%=image_tag 'help_pages/page4/image50.png'%>
<%=image_tag 'help_pages/page4/image59.png'%>
<h3>
	他の設定<%=image_tag 'help_pages/page4/image41.png'%>
</h3>
<h3>
	カレンダー画面から勤務タイプ変更機能を
	付加しています。<br>
	ここに変更したら勤務画面へ反映します。
</h3>
<%=image_tag 'help_pages/page4/image17.png'%>
<h3>タイムラインのように画面上から現在状態を一
旦変えます。</h3>
