<h1>出張の一括入力画面</h1>
<%=image_tag 'help_pages/page6/image68.png'%>
<%=image_tag 'help_pages/page6/image21.png'%>
<h3>
	出張一括入力画面へのリンクです。イベントの新規時だけ 表示、直接イベント編集画面時の一つのショットカットで す。<br>
	出張には、以下のパターンが、あります。(3パターン) <br>
	1        出張移動                出張                出張移動<br>
	2        出張移動                出張<br>
	3                               出張                出張移動<br>
	1        出張の一括入力画面です。登録モードのみです。<br>
	        修正、削除の機能は、ありません。※通常のイベント入力から行ってください。<br>
	2        イベント画面より、「出張一括入力」ボタンを押すことで、起動します。戻り先は、カレンダー画面より 起動した時は、カレンダー画面へ。タイムライン画面より、起動した場合は、タイムライン画面へ戻ります。<br>
	3         状態1は、空白 (未入力) OR 「出張移動」のみが入力可能です。<br>
	4         状態2は、出張」のみが入力可能で、実際は入力しません。<br>
          表示のみで、「出張」を表示。<br>
	5         状態3は、空白 (未入力) OR 「出張移動」のみが入力可能です。<br>
	6         「開始時刻1」「終了時刻1」は、「状態1」が入力されていれば、入
	は、OKです。<br>
	7         「終了時刻1」=「開始時刻2」なので、終了時刻1が入力されている 時は、
	自動的に「開始時刻2」を表示。<br>
	8         「終了時刻2」=「開始時刻3」なので、「状態3」が、入力されてい る時は、自動的に表示。
以下に画面の入力不可
</h3>
<%=image_tag 'help_pages/page6/image10.png'%>
<%=image_tag 'help_pages/page6/image74.png'%>
<%=image_tag 'help_pages/page6/image39.png'%>
<%=image_tag 'help_pages/page6/image32.png',width: "50%"%>
<h3>
	出張一括入力は画面の右のメニューか らでも動作します。<br>
	ここから印刷の設定も入ってます。<br>
	カレンダー及びタイムラインで右メ ニューから動作します。<br>
	「出張一括入力」の日付入力について、未来日を選択して例えば5/10の日をクリックし、入力画面に移動し、「出張一括入力」に移動→日付入力のため、画面を開くと5/1０がデフォルトで表示される

</h3>