<h1>回覧</h1>
<%=image_tag 'help_pages/page10/image28.png'%>
<h3>検索のために、社員と要件を選択し、検索のボタンをクリックしてください。</h3>
<%=image_tag 'help_pages/page10/image35.png'%>
<%=image_tag 'help_pages/page10/image83.png'%>
<h3>
	新しい回覧が到着すると、通知が表示されます。
	<%=image_tag 'help_pages/page10/image6.png'%>
</h3>
<%=image_tag 'help_pages/page10/image11.png'%>
<h3>
	回覧の確認のために、チェックボックスを選択して、確認のボタンをクリックしてください。<br>
	回答のために、要のリンクをクリックしてください。
</h3>
<%=image_tag 'help_pages/page10/image88.png'%>
<h3>新規のリンクをクリックすると、回覧の新規画面が表示されている。</h3>
<%=image_tag 'help_pages/page10/image2.png'%>
<h3>
	回覧は、自分にきた回覧のみ見ることができる。<br>
	例えば、タイムラインから見て、回覧が存在していても、自分に関係する回覧のみ、見ることが、できる。<br>
	伝言は、このような条件は、ありません。だれでも、伝言は、検索可能です。
</h3>
<hr>
<h1>伝言</h1>
<%=image_tag 'help_pages/page10/image72.png'%>
