= javascript_include_tag 'yakushokumasters/index'
= provide(:title, (t 'title.yakushokumaster'))
%ol.breadcrumb
  %li= link_to (t 'title.menu'), main_path
  %li.active=(t 'title.yakushokumaster')

%table#yakushokumaster.table.table-striped.table-bordered.table-hover{cellspacing: '0', width: '100%'}
  %thead
    %tr
      %th 役職コード
      %th 役職名
  %tbody
    - @yakushokumasters.each do |yakushoku|
      %tr{ id: "yakushoku_#{yakushoku.id}" }
        %td= yakushoku.役職コード
        %td= yakushoku.役職名
- if can? :update, @yakushokumasters
  =render 'share/import_csv_modal',import_path: import_yakushokumasters_path
= render 'yakushoku_new_modal'
= render 'yakushoku_edit_modal'
