.modal#bunrui-edit-modal{tabindex:-1, role: :dialog, 'aria-labelledby'=>"myModalLabel", 'aria-hidden'=>"true"}
  .modal-dialog.modal-sm
    .modal-content
      .modal-header
        %button.close{type: :button, 'data-dismiss'=>"modal", 'aria-hidden'=>"true"} &times;
        %h4.modal-title#myModalLabel= (t 'title.edit')
      .modal-body
        = simple_form_for :bunrui, url: bunrui_path(id: 0), method: :patch, :remote => true, html: { id: 'edit_bunrui', role: :form, 'data-model' => 'bunrui' } do |f|
          = f.hidden_field :分類コード
          = f.input "分類名" do
            = f.input_field :分類名, class: 'form-control'
            .span.help-block
          = f.button :submit, class: 'btn btn-primary'