= javascript_include_tag 'bunruis'
= provide(:title, (t 'title.bunrui'))
%ol.breadcrumb
  %li= link_to (t 'title.menu'), main_path
  %li.active= (t 'title.bunruimaster')

%table.bunruistable.table.table-striped.table-bordered.table-hover{cellspacing: 0, width: '100%' }
  %thead
    %tr
      %th= (t 'title.bunruicode')
      %th= (t 'title.bunruimei')
      

  %tbody
    - @bunruis.each do |bunrui|
      %tr
        %td= bunrui.分類コード
        %td= bunrui.分類名
        

%br


= render 'share/new_edit_destroy_buttons',object: 'bunrui'

- if can? :update, @bunruis
  %h4=t 'app.label.import_csv'
  = form_tag import_bunruis_path,class:'form-inline', multipart: true do
    .form-group
      = label_tag 'selectcsv', nil, class: 'sr-only'
      = file_field_tag :file , class: 'btn btn-default'
    .form-group
      = label_tag 'importcsv', nil, class: 'sr-only'
      = submit_tag "Import CSV" , class: 'btn btn-default'
= render 'bunrui_new_modal'
= render 'bunrui_edit_modal'