= javascript_include_tag 'bunruis/index'
= provide(:title, (t 'title.bunrui'))
%ol.breadcrumb
  %li= link_to (t 'title.menu'), main_path
  %li.active= (t 'title.bunruimaster')

%table#bunrui_table.table.table-striped.table-bordered.table-hover{cellspacing: 0, width: '100%' }
  %thead
    %tr
      %th= (t 'title.bunruicode')
      %th= (t 'title.bunruimei')

  %tbody
    - @bunruis.each do |bunrui|
      %tr
        %td= bunrui.分類コード
        %td= bunrui.分類名
%br
- if can? :update, @bunruis
  =render 'share/import_csv_modal',import_path: import_bunruis_path
= render 'new'
= render 'edit'
