%p
  %b= (t 'title.bunruicode')
  = @bunrui.分類コード
%p
  %b= (t 'title.bunruimei')
  = @bunrui.分類名

= link_to (t 'title.edit'), edit_bunrui_path(@bunrui)
\|
= link_to (t 'title.modoru'), bunruis_path
= provide(:title, (t 'title.bunrui'))