= javascript_include_tag 'tsushinseigyous/index'
= provide(:title, (t 'title.tsushinseigyou'))
%ol.breadcrumb
  %li= link_to (t 'title.menu'), main_path
  %li.active 通信制御マスタ

%table#tsushinseigyoumaster.table.table-striped.table-bordered.table-hover{cellspacing: 0, width: '100%' }
  %thead
    %tr
      %th id
      %th 社員番号
      %th メール
      %th 送信許可区分
  %tbody
    - @tsushinseigyous.each do |tsushinseigyou|
      %tr
        %td= tsushinseigyou.id
        %td= tsushinseigyou.社員番号
        %td= tsushinseigyou.メール
        %td= tsushinseigyou.送信許可区分 == '0' ? '不可' : '許可'
%br
- if can? :update, @tsushinseigyous
  =render 'share/import_csv_modal',import_path: import_tsushinseigyous_path
= render 'tsushinseigyou_new_modal'
= render 'tsushinseigyou_edit_modal'
