= javascript_include_tag 'tsushinseigyous'
= provide(:title, (t 'title.tsushinseigyou'))
%ol.breadcrumb
  %li= link_to (t 'title.menu'), main_path
  %li.active 通信制御マスタ

%table.tsushinseigyotable.table.table-striped.table-bordered.table-hover{cellspacing: 0, width: '100%' }
  %thead
    %tr
      %th 社員番号
      %th メール
      %th 送信許可区分
      %th id
  %tbody
    - @tsushinseigyous.each do |tsushinseigyou|
      %tr
        %td= tsushinseigyou.shain_氏名
        %td= tsushinseigyou.メール
        %td= tsushinseigyou.送信許可区分 == '0' ? '不可' : '許可'
        %td= tsushinseigyou.id
%br

=render 'share/new_edit_destroy_buttons',object: 'tsushinseigyou', new_path: new_tsushinseigyou_path
- if can? :update, @tsushinseigyous
  %h4=t 'app.label.import_csv'
  = form_tag import_tsushinseigyous_path,class:'form-inline', multipart: true do
    .form-group
      = label_tag 'selectcsv', nil, class: 'sr-only'
      = file_field_tag :file , class: 'btn btn-default'
    .form-group
      = label_tag 'importcsv', nil, class: 'sr-only'
      = submit_tag (t 'title.import_csv_btn') , class: 'btn btn-default'
= render 'tsushinseigyou_new_modal'
= render 'tsushinseigyou_edit_modal'