%p#notice= notice

%p
  %b First name:
  = @tsushinseigyou.first_name
%p
  %b Last name:
  = @tsushinseigyou.last_name

= link_to (t 'title.edit'), edit_tsushinseigyou_path(@tsushinseigyou)
\|
= link_to (t 'title.modoru'), tsushinseigyous_path
= provide(:title, (t 'title.tsushinseigyou'))