.modal#dengonyouken-edit-modal{tabindex:-1, role: :dialog, 'aria-labelledby'=>"myModalLabel", 'aria-hidden'=>"true"}
  .modal-dialog.modal-sm
    .modal-content
      .modal-header
        %button.close{type: :button, 'data-dismiss'=>"modal", 'aria-hidden'=>"true"} &times;
        %h4.modal-title#myModalLabel Edit
      .modal-body
        = simple_form_for (Dengonyouken.new), url: update_dengonyouken_dengonyoukens_path, :remote => true, html: {role: :form, 'data-model' => 'dengonyouken'} do |f| 
          = f.input :種類名, label: "種類名", class: 'form-control'
          = f.input "備考" do
            = f.input_field :備考, class: 'form-control'
            .span.help-block
          = f.input "優先さ" do
            = f.number_field :優先さ, class: 'form-control'
          = f.button :submit, class: 'btn btn-primary'