= javascript_include_tag 'dengonyoukens'
= provide(:title, (t 'title.dengonyouken'))
%ol.breadcrumb
  %li= link_to (t 'title.menu'), main_path
  %li.active= (t 'title.dengonyouken')

%table.dengonyoukentable.table.table-striped.table-bordered.table-hover{cellspacing: 0, width: '100%' }
  %thead
    %tr
      %th= (t 'title.shuruimei')
      %th= (t 'title.bikou')
      %th= (t 'title.yuusensa')
      %th
      %th

  %tbody
    - @dengonyoukens.each do |dengonyouken|
      %tr
        %td= dengonyouken.種類名
        %td= dengonyouken.備考
        %td= dengonyouken.優先さ
        %td= link_to (t 'title.edit'), edit_dengonyouken_path(dengonyouken)
        %td= link_to (t 'title.delete'), dengonyouken, :method => :delete, :data => { :confirm => (t 'title.delete_confirm') }

%br

= link_to (t 'title.new'), new_dengonyouken_path

- if can? :update, @dengonyoukens
  %h4=t 'app.label.import_csv'
  = form_tag import_dengonyoukens_path,class:'form-inline', multipart: true do
    .form-group
      = label_tag 'selectcsv', nil, class: 'sr-only'
      = file_field_tag :file , class: 'btn btn-default'
    .form-group
      = label_tag 'importcsv', nil, class: 'sr-only'
      = submit_tag (t 'title.import_csv_btn') , class: 'btn btn-default'
