%p#notice= notice

%p
  %b First name:
  = @dengonyouken.first_name
%p
  %b Last name:
  = @dengonyouken.last_name

= link_to (t 'title.edit'), edit_dengonyouken_path(@dengonyouken)
\|
= link_to (t 'title.modoru'), dengonyoukens_path
= provide(:title, (t 'title.dengonyouken'))