.row-fruid
  = link_to (t 'title.new'), new_dengon_path, class: 'new-btn dt-button'
%br
.row-fruid
  .form-inline
    .form-group
      = label_tag (t 'title.shain')
      = select(:head, :shainbango, Shainmaster.all.collect {|p| [ p.氏名, p.社員番号 ] }, {selected: @shain_param, include_blank: true }, class: 'form-control')
    .form-group
      = label_tag (t 'title.youkendengon')
      = select(:head, :youken, Dengonyouken.all.collect {|p| [ p.種類名, p.id, {:style => "background-color: "+p.yuusen.try(:色).to_s+"; color: Black"} ] }, {selected: @yoken, include_blank: true }, class: 'form-control')
    .form-group
      = label_tag (t 'title.kaitou')
      = select(:head, :kaitou, Dengonkaitou.all.collect {|p| [ p.種類名, p.id ] }, {selected: @kaitou, include_blank: true }, class: 'form-control')
    .form-group
      = button_tag (t 'title.kensaku'), class:'btn btn-primary'