= javascript_include_tag 'dengons'
= provide(:title, (t 'title.dengon'))
%ol.breadcrumb
  %li= link_to (t 'title.menu'), main_path
  %li.active= (t 'title.dengon')

-#.row
  -#.col-md-5.col-xs-5.col-sm-5.col-lg-5.col-md-offset-4.col-xs-offset-4.col-sm-offset-4.col-lg-offset-4
    -#%h2
      -#= "#{Time.now.strftime('%F %H:%M %A')}"
      -#= "#{Time.current.in_time_zone('').strftime('%F %H:%M %A')}"
      -#= "#{Date.current.in_time_zone.strftime('%F %H:%M %A')}"
%br

= form_for :dengon, url: dengons_path, html: {class:'form-inline'}, method: :get do |f|
  = render 'header', f:f
  %br
  %table.dengon.table.table-striped.table-bordered.table-hover{cellspacing: 0, width: '100%' }
    %thead
      %tr
        %th= (t 'title.aitesaki')
        %th= (t 'title.namae')
        %th= (t 'title.hidzuke')
        %th= (t 'title.nyuuryokusha')
        %th= (t 'title.shain')
        %th= (t 'title.youken')
        %th= (t 'title.kaitou')
        %th= (t 'title.dengonnaiyou')
        %th= (t 'helpers.button.confirm')
        %th= (t 'title.shousin')
        %th
        %th

    %tbody
      - @dengons.each do |dengon|
        %tr
          %td= dengon.from1
          %td= dengon.from2
          %td= dengon.日付.strftime("%F %H:%M") if dengon.日付
          %td= dengon.input_user_氏名
          %td= dengon.to_user_氏名
          %td{:style => "background-color: "+dengon.dengonyouken.try(:yuusen).try(:色).to_s+"; color: Black"}= dengon.youken_種類名
          %td= dengon.kaitou_種類名
          %td= dengon.伝言内容
          -#%td{'word-wrap' => 'break-word'}= dengon.伝言内容
          %td= dengon.確認 == true ? (t 'title.kakuninzu'):'未確認'
          %td= dengon.送信 == true ? (t 'app.label.necessary'):(t 'app.label.unnecessary')
          %td= link_to (t 'title.edit'), edit_dengon_path(dengon)
          %td= link_to (t 'title.delete'), dengon, :method => :delete, :data => { :confirm => (t 'title.delete_confirm') }

%br

= link_to (t 'title.new'), new_dengon_path
//{:style => "background-color: "+dengon.dengonyouken.try(:yuusen).try(:色).to_s+"; color: Black"}
