%p#notice= notice

%p
  %b First name:
  = @dengon.first_name
%p
  %b Last name:
  = @dengon.last_name

= link_to (t 'title.edit'), edit_dengon_path(@dengon)
\|
= link_to (t 'title.modoru'), dengons_path
= provide(:title, (t 'title.dengon'))