= javascript_include_tag 'setsubiyoyakus'

/ %h1 Editing setsubiyoyaku

/ = render 'form'

/ = link_to 'Show', @setsubiyoyaku
/ \|
/ = link_to 'Back', setsubiyoyaku_path



%ol.breadcrumb
  %li= link_to (t 'title.menu'), main_path
  %li= link_to '設備予約', setsubiyoyakus_path
  %li.active 編集

= render 'form', modal: "edit"
= provide(:title, (t 'title.setsubiyoyaku'))