= javascript_include_tag 'setsubiyoyakus/index'
= javascript_include_tag 'setsubiyoyakus/calendar'
= javascript_include_tag 'setsubiyoyakus/setsubiyoyaku_table'
= stylesheet_link_tag 'setsubiyoyakus'
= provide(:title, (t 'title.setsubiyoyaku'))
%ol.breadcrumb
  %li= link_to (t 'title.menu'), main_path
  %li.active=t 'title.setsubiyoyaku'

= render 'header'
#setsubiyoyaku-timeline.spacer
%button.spacer.btn.btn-primary#show_table_button{type: :button}=t 'app.label.shousai_event'
#table-div
  %legend.spacer
  %table#setsubiyoyaku_table.table.table-striped.table-bordered.table-hover{cellspacing: '0', width: '100%'}
    %thead
      %tr
        %th ID
        %th=t 'title.kaishijikoku'
        %th=t 'title.shyuuryoujikoku'
        %th=t 'title.yoyakusha'
        %th=t 'title.aitesaki'
        %th=t 'title.youken'
        %th
        %th
    %tbody
      - @setsubiyoyakus.each do |setsubiyoyaku|
        %tr
          %td= setsubiyoyaku.id
          %td= setsubiyoyaku.開始
          %td= setsubiyoyaku.終了
          %td= setsubiyoyaku.shainmaster.氏名
          %td= setsubiyoyaku.kaishamaster.nil? ? setsubiyoyaku.相手先 : setsubiyoyaku.kaishamaster.会社名
          %td= setsubiyoyaku.用件
          %td= link_to t('title.edit'), edit_setsubiyoyaku_path(setsubiyoyaku)
          %td= link_to t('title.delete'), setsubiyoyaku, :method => :delete, :data => { :confirm => t('app.delete_confirm') }
  = render 'share/import_csv_modal',import_path: import_setsubiyoyakus_path
