= javascript_include_tag 'shoninshamsts'
= provide(:title, (t 'title.shoninshamst'))
%ol.breadcrumb
  %li= link_to (t 'title.menu'), main_path
  %li.active 承認者

%table.shonin-table.table.table-striped.table-bordered.table-hover{cellspacing: '0', width: '100%'}
  %thead
    %tr
      %th id
      %th 申請者
      %th 承認者
      %th 順番


  %tbody
    - @shoninshamsts.each do |shoninshamst|
      %tr
        %td= shoninshamst.id
        %td= shoninshamst.shinseisha.氏名
        %td= shoninshamst.shouninsha.氏名
        %td= shoninshamst.順番
        

= render 'share/new_edit_destroy_buttons',object: 'shonin', new_path: new_shoninshamst_path
= render 'share/import_export_buttons',import_path: import_shoninshamsts_path
= render 'shoninsha_new_modal'
