= javascript_include_tag 'yuukyuu_kyuukas'
= provide(:title, (t 'title.yuukyuu_kyuuka'))
%ol.breadcrumb
  %li= link_to (t 'title.menu'), main_path
  %li.active 有給休暇履歴

%br

%table.yuukyuu_kyuuka_rireki_table.table.table-striped.table-bordered.table-hover{cellspacing: '0', width: '100%'}
  %thead
    %tr
      %th 社員番号
      %th 年月
      %th 月初有給残
      %th 月末有給残
      %th
      %th
  %tbody
    - @yuukyuu_kyuuka_rireki.each do |yuukyuu_kyuuka_rireki|
      %tr
        %td= yuukyuu_kyuuka_rireki.社員番号
        %td= yuukyuu_kyuuka_rireki.年月
        %td= yuukyuu_kyuuka_rireki.月初有給残
        %td= yuukyuu_kyuuka_rireki.月末有給残
        %td= link_to '編集', edit_yuukyuu_kyuuka_rireki_path(yuukyuu_kyuuka_rireki)
        - msg = t 'app.delete_confirm'
        %td= link_to '削除', yuukyuu_kyuuka_rireki, :method => :delete, :data => { :confirm => msg }

= link_to '新規', new_yuukyuu_kyuuka_rireki_path

%h4=t 'app.label.import_csv'
= form_tag import_yuukyuu_kyuuka_rirekis_path,class:'form-inline', multipart: true do
  .form-group
    = label_tag 'selectcsv', nil, class: 'sr-only'
    = file_field_tag :file , class: 'btn btn-default'
  .form-group
    = label_tag 'importcsv', nil, class: 'sr-only'
    = submit_tag (t 'title.import_csv_btn') , class: 'btn btn-default'
