.modal#holiday-new-modal{tabindex:-1, role: :dialog, 'aria-labelledby'=>"myModalLabel", 'aria-hidden'=>"true"}
  .modal-dialog.modal-sm
    .modal-content
      .modal-header
        %button.close{type: :button, 'data-dismiss'=>"modal", 'aria-hidden'=>"true"} &times;
        %h4.modal-title#myModalLabel ジュピター休日新規
      .modal-body
        = simple_form_for :jpt_holiday_mst, url: jpt_holiday_msts_path, method: :post, :remote => true, html: { id: 'new_jpt_holiday_mst', role: :form, 'data-model' => 'jpt_holiday_mst'} do |f|
          = f.input :event_date, label: '休日' do
            = f.input_field :event_date, as: :date_time_picker, class: 'form-control'
            .span.help-block
          = f.input :title, label: 'タイトル' do
            = f.input_field :title, class: 'form-control'
            .span.help-block
          = f.input :description, label: '備考' do
            = f.input_field :description, class: 'form-control'
            .span.help-block
          = f.button :submit, class: 'btn btn-primary'