<%= javascript_include_tag 'jpt_holiday_msts/index' %>
<%provide(:title, (t 'title.jpt_hokiday_mst'))%>
<ol class="breadcrumb">
  <li><%= link_to 'メニュー', main_path %></li>
  <!-- <li><a href="#">基準情報</a></li> -->
  <!-- <li><a href="#">セキュリティ管理</a></li> -->
  <li class="active">ジュピター休日</li>
</ol>


<table id="holiday_table" class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
  <thead>
  <tr>
    <th>ID</th>
    <th>休日</th>
    <th>タイトル</th>
    <th>備考</th>
  </tr>
  </thead>

  <tbody>
  <% @jpt_holiday_msts.each do |jpt_holiday_mst| %>
      <tr id="holiday_<%= jpt_holiday_mst.id %>">
        <td><%= jpt_holiday_mst.id %></td>
        <td><%= jpt_holiday_mst.event_date.try(:strftime, '%Y/%m/%d') %></td>
        <td><%= jpt_holiday_mst.title %></td>
        <td><%= jpt_holiday_mst.description %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<% if can? :update, @jpt_holiday_msts %>
  <%=render 'share/import_csv_modal',import_path: import_jpt_holiday_msts_path%>
<% end %>
<%= render 'holiday_edit_modal' %>
<%= render 'holiday_new_modal' %>



