.modal#kairanyouken-edit-modal{tabindex:-1, role: :dialog, 'aria-labelledby'=>"myModalLabel", 'aria-hidden'=>"true"}
  .modal-dialog.modal-sm
    .modal-content
      .modal-header
        %button.close{type: :button, 'data-dismiss'=>"modal", 'aria-hidden'=>"true"} &times;
        %h4.modal-title#myModalLabel= (t 'title.edit')
      .modal-body
        = simple_form_for (Kairanyokenmst.new), url: update_kairanyoken_kairanyokenmsts_path, :remote => true, html: {role: :form, 'data-model' => 'kairanyokenmst'} do |f| 
          = f.hidden_field :id
          = f.input :名称, label: "名称", class: 'form-control'
          = f.input "備考" do
            = f.input_field :備考, class: 'form-control'
            .span.help-block
          = f.input "優先さ" do
            = f.number_field :優先さ, class: 'form-control'
          = f.button :submit, class: 'btn btn-primary'