.modal#kairanyouken-new-modal{tabindex:-1, role: :dialog, 'aria-labelledby'=>"myModalLabel", 'aria-hidden'=>"true"}
  .modal-dialog.modal-sm
    .modal-content
      .modal-header
        %button.close{type: :button, 'data-dismiss'=>"modal", 'aria-hidden'=>"true"} &times;
        %h4.modal-title#myModalLabel= (t 'title.new')
      .modal-body
        = simple_form_for :kairanyokenmst, url: kairanyokenmsts_path, method: :post, :remote => true, html: { id: 'new_kairanyokenmst', role: :form, 'data-model' => 'kairanyokenmst'} do |f|
          = f.input :名称 do
            = f.input_field :名称, class: 'form-control'
            .span.help-block
          = f.input :備考 do
            = f.input_field :備考, class: 'form-control'
            .span.help-block
          = f.input :優先さ do
            = f.number_field :優先さ, class: 'form-control'
            .span.help-block
          = f.button :submit, class: 'btn btn-primary'