= javascript_include_tag 'kairanyokenmsts/index'
= provide(:title, (t 'title.kairanyoukenmst'))
%ol.breadcrumb
  %li= link_to (t 'title.menu'), main_path
  %li.active 回覧用件マスタ

%table#kairanyoukenmaster.table.table-striped.table-bordered.table-hover{cellspacing:0, width: '100%'}
  %thead
    %tr
      %th id
      %th 名称
      %th 備考
      %th 優先さ
  %tbody
    - @kairanyokenmsts.each do |kairanyokenmst|
      %tr
        %td= kairanyokenmst.id
        %td= kairanyokenmst.名称
        %td= kairanyokenmst.備考
        %td= kairanyokenmst.優先さ
%br
- if can? :update, @kairanyokenmsts
  =render 'share/import_csv_modal',import_path: import_kairanyokenmsts_path      
= render 'new'
= render 'edit'
