= javascript_include_tag 'dengonkaitous/index'
= provide(:title, (t 'title.dengonkaitou'))
%ol.breadcrumb
  %li= link_to (t 'title.menu'), main_path
  %li.active= (t 'title.dengonkaitou')

%table#dengonkaitoumaster.table.table-striped.table-bordered.table-hover{cellspacing: 0, width: '100%' }
  %thead
    %tr
      %th ID
      %th= (t 'title.shuruimei')
      %th= (t 'title.bikou')
  %tbody
    - @dengonkaitous.each do |dengonkaitou|
      %tr
        %td= dengonkaitou.id
        %td= dengonkaitou.種類名
        %td= dengonkaitou.備考
%br
- if can? :update, @dengonkaitous
  =render 'share/import_csv_modal',import_path: import_dengonkaitous_path
= render 'new'
= render 'edit'
