= javascript_include_tag 'dengonkaitous'
= provide(:title, (t 'title.dengonkaitou'))
%ol.breadcrumb
  %li= link_to (t 'title.menu'), main_path
  %li.active= (t 'title.dengonkaitou')

%table.dengonkaitoutable.table.table-striped.table-bordered.table-hover{cellspacing: 0, width: '100%' }
  %thead
    %tr
      %th= (t 'title.shuruimei')
      %th= (t 'title.bikou')
      %th id

  %tbody
    - @dengonkaitous.each do |dengonkaitou|
      %tr
        %td= dengonkaitou.種類名
        %td= dengonkaitou.備考
        %td= dengonkaitou.id


%br

= render 'share/new_edit_destroy_buttons',object: 'dengonkaitou'
- if can? :update, @dengonkaitous
  %h4=t 'app.label.import_csv'
  = form_tag import_dengonkaitous_path,class:'form-inline', multipart: true do
    .form-group
      = label_tag 'selectcsv', nil, class: 'sr-only'
      = file_field_tag :file , class: 'btn btn-default'
    .form-group
      = label_tag 'importcsv', nil, class: 'sr-only'
      = submit_tag (t 'title.import_csv_btn') , class: 'btn btn-default'
= render 'dengonkaitou_new_modal'
= render 'dengonkaitou_edit_modal'