%p#notice= notice
%p
  %b= (t 'title.shuruimei')+':'
  = @dengonkaitou.種類名
%p
  %b= (t 'title.bikou')+':'
  = @dengonkaitou.備考
= link_to (t 'title.edit'), edit_dengonkaitou_path(@dengonkaitou)
\|
= link_to (t 'title.modoru'), dengonkaitous_path
= provide(:title, (t 'title.dengonkaitou'))
