.row-fruid
  .form-inline
    .form-group
      / .col-md-12.col-xs-12.col-sm-12.col-lg-12
      = f.label :清算予定日
      .input-group
        - if request["date"].nil?
          = f.text_field :清算予定日_search, class: 'form-control datepicker_search', value: Date.today
        - else
          = f.text_field :清算予定日_search, class: 'form-control datepicker_search', value: request['date']
        %span.input-group-btn
          %button.btn.btn-default#search_date_icon{type: :button}
            %span.glyphicon.glyphicon-calendar
      = f.label :対象者
      - if request['shain'].nil?
        = f.select(:対象者, Shainmaster.all.order(:社員番号).collect {|p| [ p.氏名, p.社員番号 ] } , {selected: session[:user], include_blank: '全員' }, class: 'form-control')
      - else
        = f.select(:対象者, Shainmaster.all.order(:社員番号).collect {|p| [ p.氏名, p.社員番号 ] } , {selected: request['shain'], include_blank: "全員" }, class: 'form-control')
      = f.label :承認済区分
      = f.select( :承認済区分, options_for_select(["未確認","承認済"], selected: request['shonin']),{include_blank: "全て" }, class: 'form-control')
      .span#shain_login{hidden: :true} #{session[:user]}
