= javascript_include_tag 'keihis'
= provide(:title, (t 'title.keihihead'))
%ol.breadcrumb
  %li= link_to (t 'title.menu'), main_path
  %li= link_to 'カレンダー', events_path
  %li.active 経費入力管理

%table.keihihead-table.table.table-striped.table-bordered.table-hover{cellspacing:0, width: '100%'}
  %thead
    %tr
      %th 申請番号
      %th 申請日付
      %th 承認区分
      %th 承認者
      %th 清算予定日
      %th 清算日
      %th 承認済区分
      %th
      %th

  %tbody
    - @keihiheads.each do |keihihead|
      %tr
        %td= keihihead.申請番号
        %td= keihihead.日付
        %td= keihihead.承認kubun
        %td= (Shainmaster.find_by id: keihihead.承認者).try(:氏名) unless keihihead.承認者.empty?
        %td= keihihead.清算予定日
        %td= keihihead.清算日
        %td= keihihead.承認済区分
        -if keihihead.try(:承認済区分)!= "1"
          %td= link_to (t 'title.edit'), edit_keihihead_path(keihihead)
          - msg = t 'app.delete_confirm'
          %td= link_to (t 'title.delete'), keihihead, method: :delete, data: { confirm: msg }
        -else
          %td= link_to (t 'app.label.reference'), keihihead_path(keihihead)
          / %td= link_to (t 'title.edit'), edit_keihihead_path(keihihead)
          %td= t 'title.delete'

%br
- msg_select = t 'app.select_confirm'
- msg_confirm = t 'app.delete_confirm'
- delete_text = t 'title.delete'
.span#message_confirm_select{hidden: :true} #{msg_select}
.span#message_confirm_delete{hidden: :true} #{msg_confirm}
%button.btn.btn-primary#destroy_keihihead{type: :button} #{delete_text}
%a{href: new_keihihead_path}
  %button.btn.btn-primary#destroy_keihihead{type: :button} #{(t 'title.new')}
/ = link_to '新規', new_keihihead_path
.row.spacer
%legend

- if can? :update, @keihiheads
  %h4=t 'app.label.import_csv'
  = form_tag import_keihiheads_path, class:'form-inline', multipart: true do
    .form-group
      = label_tag 'selectcsv', nil, class: 'sr-only'
      = file_field_tag :file , class: 'btn btn-default'
    .form-group
      = label_tag 'importcsv', nil, class: 'sr-only'
      = submit_tag (t 'title.import_csv_btn') , class: 'btn btn-default'
.row.spacer
%legend

%button.btn.btn-primary#export_keihihead{type: :button} #{t 'title.export_csv'}