<%= javascript_include_tag 'mybashomasters' %>
<%provide(:title, (t 'title.mybashomaster'))%>
<script>
    current_user_id = <%= current_user.id %>
    current_user_id = current_user_id.toString()
</script>
<ol class="breadcrumb">
  <li><%= link_to 'メニュー', main_path %></li>
  <li class="active">MY場所マスタ</li>
</ol>
<table id="mybashomaster" class="mybashotable table table-striped table-bordered table-hover" cellspacing="0" width="100%">

  <thead>
    <tr>
      <th>社員番号</th>
      <th>場所コード</th>
      <th>場所名</th>
      <th>場所名カナ</th>
      <th>SUB</th>
      <th>場所区分</th>
      <th>会社名</th>
      <th>更新日</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @mybashomasters.each do |mybasho| %>
      <tr id="mybashomaster_<%= mybasho.id %>">
        <td><%= mybasho.社員番号 %></td>
        <td><%= mybasho.場所コード %></td>
        <td><%= mybasho.場所名 %></td>
        <td><%= mybasho.場所名カナ %></td>
        <td><%= mybasho.SUB %></td>
        <td><%= mybasho.bashokubunmst.場所区分名 unless mybasho.bashokubunmst.nil?%></td>
        <td><%= mybasho.kaishamaster.会社名 unless mybasho.kaishamaster.nil?%></td>
        <td><%= mybasho.updated_at %></td>
        <td><%= link_to '編集', edit_mybashomaster_path(mybasho) %></td>
        <td><%= link_to '削除', mybasho, method: :delete, data: { confirm: '削除して宜しいですか？' } %></td>

      </tr>
  <% end %>
  </tbody>
</table>
<%=render 'share/new_edit_destroy_buttons',object: 'mybasho',new_path: new_mybashomaster_path%>
<% if can? :update, @mybashomasters %>
  <%=render 'share/import_csv_modal',import_path: import_mybashomasters_path%>
<% end %>
