.row-fruid
  .form-inline
    .form-group
      = link_to '新規', new_kairan_path, class: 'btn btn-primary'
      = link_to '送信一覧', shokairan_kairans_path, class: 'btn btn-primary'
      = button_tag (t 'helpers.button.confirm'), name: 'button', id: :kakunin, value: (t 'helpers.button.confirm'), class: 'btn btn-primary'
.spacer
.row-fruid
  .form-inline
    / .form-group
    /   = label_tag :社員
    /   = select(:head, :shainbango, Shainmaster.all.collect {|p| [ p.氏名, p.社員番号 ] }, {selected: @shain_param, include_blank: true }, {class: 'form-control',disabled: true})
    .form-group
      = label_tag :要件
      = select(:head, :youken, Kairanyokenmst.all.collect {|p| [ p.名称, p.id, {:style => "background-color: "+p.yuusen.try(:色).to_s+"; color: Black"} ] }, {selected: @yoken , include_blank: true }, class: 'form-control')
      = button_tag (t 'helpers.button.search'), name: :button, id: :search, value: (t 'helpers.button.search'), class:'btn btn-primary'

    -#.form-group
    -#  = label_tag :回答
    -#  = select(:head, :kaitou, Dengonkaitou.all.collect {|p| [ p.種類名, p.id ] }, {selected: @kaitou, include_blank: true }, class: 'form-control')

      -#= button_tag '送回覧', name: 'button', id: :createdkairan, value: '送回覧', class: 'btn btn-primary'
