= link_to t('title.new'), new_kairan_path, class: 'new-btn dt-button'
= link_to t('title.shoushinichiran'), shokairan_kairans_path, class: 'edit-btn dt-button'
.row-fruid
  .form-inline
    .form-group
      = label_tag t('title.youkendengon')
      = select(:head, :youken, Kairanyokenmst.all.collect {|p| [ p.名称, p.id, {:style => "background-color: "+p.yuusen.try(:色).to_s+"; color: Black"} ] }, {selected: @yoken , include_blank: true }, class: 'form-control')
      = button_tag (t 'helpers.button.search'), name: :button, id: :search, value: (t 'helpers.button.search'), class:'btn btn-primary'
    .pull-right
      = button_tag (t 'helpers.button.confirm'), name: 'button', id: :kakunin, value: (t 'helpers.button.confirm'), class: 'btn btn-primary kakunin-btn btn-custom-datatable'