 $('#eki-edit-modal').modal('hide');
 // $(".ekitable").append("<tr><td><%=@eki.id%></td><td><%=@eki.name%></td><td><%=@eki.駅名カナ%></td>"+
 //  "<td>test</td>"+
 //  "<td>test</td><tr>");


$(".ekitable").dataTable().fnDeleteRow($('.ekitable').find('tr.selected').remove())
$(".ekitable").dataTable().fnDraw()

 var table = $('.ekitable').DataTable();
 table.row.add( ["<%=@eki.id%>","<%=@eki.name%>","<%=@eki.駅名カナ%>"] ).draw( false );
 $("#edit_eki").attr("disabled", true);
 $("#destroy_eki").attr("disabled", true);

 // var eki_id = oEkiTable.row('tr.selected').data()
 // alert(eki_id);
 //    if(eki_id == undefined){
 //      $("#edit_eki").attr("disabled", true);
 //      $("#destroy_eki").attr("disabled", true);
 //    }else{
 //      $("#edit_eki").attr("disabled", false);
 //      $("#destroy_eki").attr("disabled", false);
 //    }


 // table.row.add( [<%=@eki.id%>,<%=@eki.name%>,<%=@eki.駅名カナ%>,
 // "test","<%= escape_javascript link_to('削除', @eki, :method => :delete) %>"] ).draw( false );