= javascript_include_tag 'ekis'
= provide(:title, (t 'title.eki'))
%ol.breadcrumb
  %li= link_to (t 'title.menu'), main_path
  %li.active 駅マスタ

%table.ekitable.table.table-striped.table-bordered.table-hover{cellspacing:0, width: '100%'}
  %thead
    %tr
      %th 駅コード
      %th 駅名
      %th 駅名カナ
      / %th
      / %th

  %tbody
    - @ekis.each do |eki|
      %tr
        %td= eki.id
        %td= eki.name
        %td= eki.駅名カナ
        / %td= link_to '編集', edit_eki_path(eki)
        / - msg = t 'app.delete_confirm'
        / %td= link_to '削除', eki, :method => :delete, :data => { :confirm => msg }

%br

/ = link_to '新規', new_eki_path
- msg_select = t 'app.select_confirm'
- msg_confirm = t 'app.delete_confirm'
.span#message_confirm_select{hidden: :true} #{msg_select}
.span#message_confirm_delete{hidden: :true} #{msg_confirm}
%button.btn.btn-primary#new_eki{type: :button} 新規
%button.btn.btn-primary#edit_eki{type: :button} 編集
%button.btn.btn-primary#destroy_eki{type: :button} 削除

- if can? :update, @ekis
  %h4=t 'app.label.import_csv'
  = form_tag import_ekis_path, class:'form-inline', multipart: true do
    .form-group
      = label_tag 'selectcsv', nil, class: 'sr-only'
      = file_field_tag :file , class: 'btn btn-default'
    .form-group
      = label_tag 'importcsv', nil, class: 'sr-only'
      = submit_tag (t 'title.import_csv_btn') , class: 'btn btn-default'

= render 'eki_new_modal'
= render 'eki_edit_modal'