%p
  %b= (t 'title.ekicode')
  = @eki.id
%p
  %b= (t 'title.ekimei')
  = @eki.name

= link_to (t 'title.edit'), edit_eki_path(@eki)
\|
= link_to (t 'title.modoru'), ekis_path
= provide(:title, (t 'title.eki'))
