%nav.navbar.navbar-inverse.rarius.navbar-fixed-top
  .container-fluid
    - if current_user
      .navbar-header
        / # = link_to raw((t 'title.kinmukanrishisutemu')), root_path, :class => "glyphicon glyphicon-home root navbar-brand"
        = link_to raw("<span class='navbar-brand root'><i class='glyphicon glyphicon-home' style='margin-right:1em;'></i>"+(t 'title.kinmukanrishisutemu')+"</span>"), root_path
      %ul.nav.navbar-nav
        %li.dropdown
          %a.dropdown-toggle{'href'=>"#", 'data-toggle'=>"dropdown", 'role'=>"button", 'aria-haspopup'=>"true", 'aria-expanded'=>"false" }
            %span= (t 'title.menu')
            %span.caret
          %ul.dropdown-menu
            %li= link_to raw("<i class='glyphicon glyphicon-list-alt' style='margin-right:1em;'></i>"+(t 'title.time_line_view')), time_line_view_events_path
            %li= link_to raw("<i class='glyphicon glyphicon-calendar' style='margin-right:1em;'></i>"+(t 'title.event')), events_path
            %legend.menu
            %li= link_to raw("<i class='glyphicon glyphicon-briefcase' style='margin-right:1em;'></i>"+(t 'title.kintai')), kintais_url
            %legend.menu
            %li= link_to raw("<i class='glyphicon glyphicon-yen' style='margin-right:1em;'></i>"+(t 'title.kanri.keihihead')), keihiheads_url
            %li= link_to raw("<i class='glyphicon glyphicon-ok' style='margin-right:1em;'></i>"+(t 'title.keihishonin')), shonin_search_keihiheads_url
            %li= link_to raw("<i class='glyphicon glyphicon-yen' style='margin-right:1em;'></i>"+(t 'title.keihi_shuppi_menu')), show_keihi_shuppi_keihiheads_path
            %legend.menu
            %li= link_to raw("<i class='glyphicon glyphicon-envelope' style='margin-right:1em;'></i>"+(t 'title.kairan')), kairans_url
            %li= link_to raw("<i class='glyphicon glyphicon-comment' style='margin-right:1em;'></i>"+(t 'title.dengon_menu')), dengons_url
            %legend.menu
            %li= link_to raw("<i class='glyphicon glyphicon-list' style='margin-right:1em;'></i>"+(t 'title.setsubiyoyaku')), setsubiyoyakus_url


        %li.dropdown
          %a.dropdown-toggle{'href'=>"#", 'data-toggle'=>"dropdown", 'role'=>"button", 'aria-haspopup'=>"true", 'aria-expanded'=>"false" }
            %span= (t 'title.help')
            %span.caret
          %ul.dropdown-menu
            %li= link_to raw("<i class='glyphicon glyphicon-question-sign' style='margin-right:1em;'></i>"+(t 'title.help')), helps_path
      .search-group.col-md-2.col-xs-6.col-sm-4.col-lg-2
        .input-group.search-field
          %span.input-group-addon.search-icon#search_icon
            %span.glyphicon.glyphicon-search{"aria-hidden" => "true"}
          %input{type: "text", class: "form-control search-input",id: :search_field, name: :search_field,}

      %ul.nav.navbar-nav.navbar-right
        - if current_user
          - kairans = Kairanshosai.where(対象者: session[:user], 状態: 0)
          - dengons = Dengon.where(社員番号: session[:user], 確認: false)
          - messages = Message.all.where(conversation_id: (Conversation.involving(current_user).map(&:id)),read_at: nil).joins(:user).where("担当者マスタ.担当者コード!= ?",current_user.id).order(created_at: :desc)
          - count_total = kairans.count + dengons.count + messages.count
          - if count_total > 0
            %li.dropdown
              %a.dropdown-toggle{'href'=>"#", 'data-toggle'=>"dropdown", 'role'=>"button", 'aria-haspopup'=>"true", 'aria-expanded'=>"false" }
                %i{class: 'glyphicon glyphicon-bell text-red'}
                %span{class: 'message-count text-red'} #{count_total}
              %ul.dropdown-menu.message-item
                - if messages.count > 0
                  - messages.each do |message|
                    - naiyou = message.body.length > 12 ? "#{message.body[0...12]}..." : message.body
                    %li= link_to raw('&nbsp;&nbsp;&nbsp;')+ message.user.name+': '+naiyou, "#", class: "fa fa-wechat icon-left start-conversation","data-sid" => message.conversation.sender_id, "data-rip" => message.conversation.recipient_id
                - if kairans.count > 0
                  - if messages.count > 0
                    %legend.menu
                  - kairans.each do |kairan|
                    - naiyou = kairan.内容.length > 12 ? "#{kairan.内容[0...12]}..." : kairan.内容
                    %li= link_to ' '+ naiyou, "/kairans?locale=ja&search="+kairan.内容, :class => "glyphicon glyphicon-envelope icon-left"
                - if dengons.count > 0
                  - if kairans.count > 0 || messages.count > 0
                    %legend.menu
                  - dengons.each do |dengon|
                    - naiyou = dengon.伝言内容.length > 12 ? "#{dengon.伝言内容[0...12]}..." : dengon.伝言内容
                    %li= link_to ' '+ naiyou, "/dengons?locale=ja&search="+dengon.伝言内容, :class => "glyphicon glyphicon-comment icon-left"
          - else
            %li.dropdown
              %a.dropdown-toggle{'href'=>"#", 'data-toggle'=>"dropdown", 'role'=>"button", 'aria-haspopup'=>"true", 'aria-expanded'=>"false" }
                %i{class: 'glyphicon glyphicon-bell'}
                %span{class: 'message-count'}
              %ul.dropdown-menu.message-item{style: "display: none"}

          / - if dengons.count > 0
          /   %li.dropdown
          /     %a.dropdown-toggle{'href'=>"#", 'data-toggle'=>"dropdown", 'role'=>"button", 'aria-haspopup'=>"true", 'aria-expanded'=>"false" }
          /       %i{class: 'glyphicon glyphicon-comment text-red',:onclick => "location.href = '/dengons?locale=ja' ; return false"}
          /       %span{class: 'dengon-count text-red'} #{dengons.count}
          /     %ul.dropdown-menu.center.dengon-item
          /       - dengons.each do |dengon|
          /         - naiyou = dengon.伝言内容.length > 12 ? "#{dengon.伝言内容[0...12]}..." : dengon.伝言内容
          /         %li= link_to ' '+ naiyou, dengons_path(search: dengon.伝言内容), :class => "glyphicon glyphicon-comment icon-left"
          / - else
          /   %li.dropdown
          /     %a.dropdown-toggle{'href'=>"#", 'data-toggle'=>"dropdown", 'role'=>"button", 'aria-haspopup'=>"true", 'aria-expanded'=>"false" }
          /       %i{class: 'glyphicon glyphicon-comment',:onclick => "location.href = '/dengons?locale=ja' ; return false"}
          /       %span{class: 'dengon-count'}
          /     %ul.dropdown-menu.center.dengon-item{style: "display: none"}
          / - if kairans.count > 0
          /   %li.dropdown
          /     %a.dropdown-toggle{'href'=>"#", 'data-toggle'=>"dropdown", 'role'=>"button", 'aria-haspopup'=>"true", 'aria-expanded'=>"false" }
          /       %i{class: 'glyphicon glyphicon-envelope text-red', :onclick => "location.href = '/kairans?locale=ja' ; return false"}
          /       %span{class: 'kairan-count text-red'} #{kairans.count}
          /     %ul.dropdown-menu.center.kairan-item
          /       - kairans.each do |kairan|
          /         - naiyou = kairan.内容.length > 12 ? "#{kairan.内容[0...12]}..." : kairan.内容
          /         %li= link_to ' '+ naiyou, kairans_path(search: kairan.内容), :class => "glyphicon glyphicon-envelope icon-left"

          / - else
          /   %li.dropdown
          /     %a.dropdown-toggle{'href'=>"#", 'data-toggle'=>"dropdown", 'role'=>"button", 'aria-haspopup'=>"true", 'aria-expanded'=>"false" }
          /       %i{class: 'glyphicon glyphicon-envelope', :onclick => "location.href = '/kairans?locale=ja' ; return false"}
          /       %span{class: 'kairan-count'}
          /     %ul.dropdown-menu.center.kairan-item{style: "display: none"}
          %li.dropdown
            %a.dropdown-toggle{'href'=>"#", 'data-toggle'=>"dropdown", 'role'=>"button", 'aria-haspopup'=>"true", 'aria-expanded'=>"false" }
              / - if current_user.avatar.exists?
              /   - image_path_origin = current_user.avatar.url
              /   %span= image_tag image_path_origin, size: "30x30"
              / - else
              /   %span= image_tag "/assets/thumb/missing.png", size: "30x30"
              %span= image_tag "/assets/thumb/missing.png", size: "30x30"
            %ul.dropdown-menu.center

              / - if current_user.avatar.exists?
              /   - image_path_origin = current_user.avatar.url
              /   %li= image_tag image_path_origin, size: "30x30"
              / - else
              /   %li= image_tag "/assets/thumb/missing.png", size: "30x30"
              %li= image_tag "/assets/thumb/missing.png", size: "30x30"
              %li= link_to current_user.try(:担当者名称).to_s, edit_user_path(current_user)
              %li.text-gray パスワード更新日：#{current_user.updated_at.to_date}
              %legend.menu
              %li= link_to ' プロファイル変更', edit_user_path(current_user), :class => "glyphicon glyphicon-edit icon-left"
              %li= link_to " ログアウト", logout_path, method: "delete", :class => "glyphicon glyphicon-log-out icon-left"

          / %li.navbar-text パスワード更新日：#{current_user.updated_at.to_date}
          / - image_path_origin = current_user.avatar.url(:thumb)
          / - if image_path_origin.present?
          /   - image_path_length = image_path_origin.length
          /   - image_path = image_path_origin[1,image_path_length-1]
          /   %li= image_tag image_path
          / -#%li= image_tag user.avatar.url(:thumb)
          / %li= link_to current_user.try(:担当者名称).to_s, edit_user_path(current_user)
          %li.dropdown
            %a.dropdown-toggle{'href'=>"#", 'data-toggle'=>"dropdown", 'role'=>"button", 'aria-haspopup'=>"true", 'aria-expanded'=>"false"}
              %span.glyphicon.glyphicon-asterisk
              %span.caret
            %ul.dropdown-menu
              %li= link_to raw("<i class='glyphicon glyphicon-list-alt' style='margin-right:1em;'></i>"+(t 'title.task')), tasks_path
              - if current_user.admin? || current_user.supervisor?
                %li= link_to raw("<i class='glyphicon glyphicon-export' style='margin-right:1em;'></i>"+(t 'title.export_csv')+"!"), export_csv_index_path
              - if current_user.shainmaster.shozokumaster.所属コード == "3"
                %li= link_to raw("<i class='glyphicon glyphicon-list-alt' style='margin-right:1em;'></i>"+(t 'title.kanrig')), kanris_root_path
              %li= link_to raw("<i class='glyphicon glyphicon-asterisk' style='margin-right:1em;'></i>"+(t 'title.setting')), setting_settings_path
          %li.dropdown
            %a.dropdown-toggle{'href'=>"#", 'data-toggle'=>"dropdown", 'role'=>"button", 'aria-haspopup'=>"true", 'aria-expanded'=>"false"}
              %span.fa.fa-wechat
            %ul.dropdown-menu.address-chat
              - @users = User.all
              - @users.each_with_index do |user, index|
                / - if current_user.avatar.exists?
                /   - image_path_origin = current_user.avatar.url
                /   %li= link_to raw("<span><img src="+image_path_origin+" style='margin-right:1em;'></img>"+user.担当者名称+"</span>"),"#", class: " start-conversation","data-sid" => current_user.id, "data-rip" => user.担当者コード
                / - else
                /   %li= link_to raw("<span><img src='/assets/thumb/missing.png' style='margin-right:1em;'></img>"+user.担当者名称+"</span>"),"#", class: " start-conversation","data-sid" => current_user.id, "data-rip" => user.担当者コード

                %li= link_to raw("<span><img src='/assets/thumb/missing.png' style='margin-right:1em;'></img>"+user.担当者名称+"</span>"),"#", class: " start-conversation","data-sid" => current_user.id, "data-rip" => user.担当者コード
        - else
          %li= link_to (t 'title.login'), login_path
    - else
      / = link_to raw(t 'title.kinmukanrishisutemu'), root_path, :class => "glyphicon glyphicon-home root navbar-brand"
      = link_to raw("<span class='navbar-brand root'><i class='glyphicon glyphicon-home' style='margin-right:1em;'></i>"+(t 'title.kinmukanrishisutemu')+"</span>"), root_path
