%div#back-to-top-of-guidesearch
%nav.navbar.navbar-inverse.rarius
  .container-fluid.row
    - if current_user
      .navbar-header
        / # = link_to raw((t 'title.kinmukanrishisutemu')), root_path, :class => "glyphicon glyphicon-home root navbar-brand"
        = link_to raw("<span class='navbar-brand root'><i class='glyphicon glyphicon-home' style='margin-right:1em;'></i>"+(t 'title.kinmukanrishisutemu')+"</span>"), root_path
      %ul.nav.navbar-nav
        %li.dropdown
          %a.dropdown-toggle{'href'=>"#", 'data-toggle'=>"dropdown", 'role'=>"button", 'aria-haspopup'=>"true", 'aria-expanded'=>"false" }
            %span= (t 'title.menu')
            %span.caret
          %ul.dropdown-menu
            %li= link_to raw("<i class='glyphicon glyphicon-list-alt' style='margin-right:1em;'></i>"+(t 'title.time_line_view')), time_line_view_events_path
            %li= link_to raw("<i class='glyphicon glyphicon-calendar' style='margin-right:1em;'></i>"+(t 'title.event')), events_path

            %legend.menu
            %li= link_to raw("<i class='glyphicon glyphicon-briefcase' style='margin-right:1em;'></i>"+(t 'title.kintai')), kintais_url
            %li= link_to raw("<i class='glyphicon glyphicon-yen' style='margin-right:1em;'></i>"+(t 'title.kanri.keihihead')), keihiheads_url
            %li= link_to raw("<i class='glyphicon glyphicon-envelope' style='margin-right:1em;'></i>"+(t 'title.kairan')), kairans_url
            %li= link_to raw("<i class='glyphicon glyphicon-comment' style='margin-right:1em;'></i>"+(t 'title.dengon_menu')), dengons_url
            %li= link_to raw("<i class='glyphicon glyphicon-list' style='margin-right:1em;'></i>"+(t 'title.setsubiyoyaku')), setsubiyoyakus_url
            %li= link_to raw("<i class='glyphicon glyphicon-ok' style='margin-right:1em;'></i>"+(t 'title.keihishonin')), shonin_search_keihiheads_url


        %li.dropdown
          %a.dropdown-toggle{'href'=>"#", 'data-toggle'=>"dropdown", 'role'=>"button", 'aria-haspopup'=>"true", 'aria-expanded'=>"false" }
            %span= (t 'title.help')
            %span.caret
          %ul.dropdown-menu
            %li= link_to raw("<i class='glyphicon glyphicon-question-sign' style='margin-right:1em;'></i>"+(t 'title.help')), helps_path
      .col-md-2.col-xs-6.col-sm-4.col-lg-2
        .input-group.search-field
          %input{type: "text", class: "form-control ",id: :search_field, name: :search_field,}
          %span.input-group-addon#search_icon
            %span.glyphicon.glyphicon-search{"aria-hidden" => "true"}
      %ul.nav.navbar-nav.navbar-right
        - if current_user
          %li.dropdown
            %a.dropdown-toggle{'href'=>"#", 'data-toggle'=>"dropdown", 'role'=>"button", 'aria-haspopup'=>"true", 'aria-expanded'=>"false" }
              / - if current_user.avatar.exists?
              /   - image_path_origin = current_user.avatar.url
              /   %span= image_tag image_path_origin, size: "30x30"
              / - else
              /   %span= image_tag "/assets/thumb/missing.png", size: "30x30"
              %span= image_tag "/assets/thumb/missing.png", size: "30x30"
            %ul.dropdown-menu.center

              / - if current_user.avatar.exists?
              /   - image_path_origin = current_user.avatar.url
              /   %li= image_tag image_path_origin, size: "30x30"
              / - else
              /   %li= image_tag "/assets/thumb/missing.png", size: "30x30"
              %li= image_tag "/assets/thumb/missing.png", size: "30x30"
              %li= link_to current_user.try(:担当者名称).to_s, edit_user_path(current_user)
              %li.text-gray パスワード更新日：#{current_user.updated_at.to_date}
              %legend.menu
              %li= link_to ' プロファイル変更', edit_user_path(current_user), :class => "glyphicon glyphicon-edit icon-left"
              %li= link_to " ログアウト", logout_path, method: "delete", :class => "glyphicon glyphicon-log-out icon-left"

          / %li.navbar-text パスワード更新日：#{current_user.updated_at.to_date}
          / - image_path_origin = current_user.avatar.url(:thumb)
          / - if image_path_origin.present?
          /   - image_path_length = image_path_origin.length
          /   - image_path = image_path_origin[1,image_path_length-1]
          /   %li= image_tag image_path
          / -#%li= image_tag user.avatar.url(:thumb)
          / %li= link_to current_user.try(:担当者名称).to_s, edit_user_path(current_user)
          %li.dropdown
            %a.dropdown-toggle{'href'=>"#", 'data-toggle'=>"dropdown", 'role'=>"button", 'aria-haspopup'=>"true", 'aria-expanded'=>"false"}
              %span.glyphicon.glyphicon-asterisk
              %span.caret
            %ul.dropdown-menu

              - if current_user.admin? || current_user.supervisor?
                %li= link_to raw("<i class='glyphicon glyphicon-export' style='margin-right:1em;'></i>"+(t 'title.export_csv')+"!"), export_csv_index_path
              - if current_user.shainmaster.shozokumaster.所属コード == "3"
                %li= link_to raw("<i class='glyphicon glyphicon-list-alt' style='margin-right:1em;'></i>"+(t 'title.kanrig')), kanris_root_path
              %li= link_to raw("<i class='glyphicon glyphicon-asterisk' style='margin-right:1em;'></i>"+(t 'title.setting')), setting_settings_path
        - else
          %li= link_to (t 'title.login'), login_path
    - else
      / = link_to raw(t 'title.kinmukanrishisutemu'), root_path, :class => "glyphicon glyphicon-home root navbar-brand"
      = link_to raw("<span class='navbar-brand root'><i class='glyphicon glyphicon-home' style='margin-right:1em;'></i>"+(t 'title.kinmukanrishisutemu')+"</span>"), root_path
